[2020-04-13 19:50] joeljfischer opened #1 "Mac app is not notarized"
To allow the app to be opened on Macs without jumping through hoops, it needs to be notarized.

[2020-04-15 09:20] synapse commented on #1
Hey @joeljfischer can you check on the latest version [0.2.2](https://github.com/stacks-task-manager/stacks/releases) if this is fixed?

[2020-04-15 15:32] joeljfischer commented on #1
Unfortunately not. See the error message I'm getting when I attempt to open the app.
![Screen Shot 2020-04-15 at 11 31 58 AM](https://user-images.githubusercontent.com/1767063/79356300-c59da700-7f0c-11ea-9044-6fac1afaf0a3.png)

[2020-04-20 18:28] AlexeyKolodchenko opened #2 "Localization on other language and synchronization with WebDAV"
Hi! Tell me please. Do you have at plans on localization application on russian language?

In version application on the Mac i don't find synchronization with the Cloud. I also want synchronization to private WebDAV the server. Thank you for your App.

[2020-04-20 19:17] kfeoktistoff opened #3 "Naming collision with existing GNU/Linux package"
**Describe the bug**
[Debian](https://packages.debian.org/bullseye/stacks) and [Ubuntu](https://packages.ubuntu.com/bionic/amd64/stacks) repositories already contain a package with name `stacks`. Thus, any time a user upgrades the system this `Stacks` package will be replaced with one from the repo.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Stacks from the deb package
2. Run `s

[2020-04-20 21:09] Allineer opened #4 "Android?"
Hello and thanks for this awesome app!

Android version is on ToDo column? :)

[2020-04-21 07:38] giotherobot opened #5 "Can't close opened link"
**Describe the bug**
When opening a link there is no clear way to go back to the Stack view

**To Reproduce**
Steps to reproduce the behavior:
1. In the example board click the link example
2. Realize there is no way to go back

**Expected behavior**
I expected some kind of interface to be able to return to the Board page.

**Desktop :**
 - OS: Debian 10

[2020-04-21 08:04] synapse commented on #3
Should be fixed in the next release 0.2.4

[2020-04-21 08:06] synapse commented on #2
Hi @AlexeyKolodchenko Stacks is being translated to Russian and will be available in the next release 0.2.4.
As for syncing your Stacks library you should move the library path under a Dropbox/Google Drive or any other sync service.
We're working on a server that will do this automatically.

[2020-04-21 13:37] AlexeyKolodchenko commented on #2
I have my own web server, and I would like to sync not via google or dropbox, but via webdav Protocol via my server.

[2020-04-21 13:46] synapse commented on #2
In that case, for the time being, you should create your own WebDAV microservice.

[2020-04-21 13:50] AlexeyKolodchenko commented on #2
So I have a question, where in the settings to specify the address of my microserver? ))

[2020-04-21 17:28] synapse commented on #4
Yes, in order to create a phone app we would like to release the server first.

[2020-04-21 17:31] synapse commented on #2
Your microservice, in theory, should read a local path and push your files to your WebDAV server.
IMO you could use something like https://duck.sh/ to sync your local files to your server's

[2020-04-22 08:12] synapse commented on #1
@joeljfischer can you please check again with the latest version v0.2.4

[2020-04-22 08:12] #5 closed

[2020-04-22 08:13] synapse commented on #3
@giotherobot can you confirm that is fixed in the latest version v0.2.4?

[2020-04-22 09:20] synapse commented on #3
The Linux name should be `run-stacks` can you please check it?

[2020-04-22 13:35] joeljfischer commented on #1
This is resolved!

[2020-04-22 14:24] #1 closed

[2020-04-22 14:25] #2 closed

[2020-04-22 14:27] Arcrueid opened #6 "Dark Theme in Archived task"
![Screen Shot 2020-04-22 at 10 26 15](https://user-images.githubusercontent.com/999072/79994293-c04bd980-8483-11ea-869a-0659e945c997.jpg)

Mac v0.2.4

[2020-04-22 14:53] synapse opened #7 "test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-04-22 14:54] #7 closed

[2020-04-23 08:00] synapse commented on #3
Hey @kfeoktistoff, @giotherobot could you please check with the latest version? https://github.com/stacks-task-manager/stacks/releases/tag/v0.2.5

[2020-04-23 08:09] kfeoktistoff commented on #3
Hey @synapse, the name conflict still exists. I suspect that package name in the control file causes it:
![Selection_192](https://user-images.githubusercontent.com/1745472/80075040-f9e31a00-8541-11ea-8bc1-30eb1003643a.png)

[2020-04-23 08:12] synapse commented on #6
@Arcrueid please check version v0.2.5 and let me know if fixed.

[2020-04-23 16:32] giotherobot opened #8 "New version breaks in Linux"
**Describe the bug**
In the latest version the app does not open at all.

**To Reproduce**
Steps to reproduce the behavior:
Try to open app.
From console, with command ```run-stacks``` it returns ```Trace/breakpoint trap```.

**Expected behavior**
The app should open

**Desktop (please complete the following information):**
Debian 10

**Additional context**
Installed with .deb package

[2020-04-23 19:08] synapse commented on #8
Hey @giotherobot, I've rebuilt the Linux package, could you check?

[2020-04-23 19:09] synapse commented on #3
@kfeoktistoff @giotherobot I just repacked version 0.2.5 again and hopefully managed to change the package name. Could you check again?

[2020-04-24 09:26] kfeoktistoff commented on #3
@synapse no conflicts any more, seems the problem has been solved 👍 Thanks for the quick fix!

[2020-04-24 10:32] #3 closed

[2020-04-27 07:41] #6 closed

[2020-04-27 12:23] M00dyB45t4rd opened #9 "Keyboard shortcuts"
Please add as many keyboard shortcuts as possible. :-) But especially for adding and editing tasks, that would be most helpful at the moment.

[2020-04-28 00:14] MeloncholyShiro opened #10 "Horizontal Scroll"
Whis is horror, really.
![image](https://user-images.githubusercontent.com/44039577/80432895-23af8e80-88fe-11ea-8ab7-cd27cddf0b0f.png)
Can you make like whis? Or something similar, horizontal scrolling is very inconvenient
![image](https://user-images.githubusercontent.com/44039577/80432971-522d6980-88fe-11ea-9271-d3d320e72fe1.png)

[2020-04-28 09:53] synapse commented on #10
Hello @MeloncholyShiro, thanks for your feedback. In a kanban, layout columns go one beside the other (horizontally) otherwise we would have rows.
In a future release, we'll create also a vertical layout 😉 .

[2020-05-08 07:28] doctopus opened #11 "Allow Dates in Task Title"
**Is your feature request related to a problem? Please describe.**
Dates with / get converted in to markdown italics. 5/5/2020 becomes 552020

**Describe the solution you'd like**
Allow writing dates in title

[2020-05-11 03:47] VitaliyAT opened #12 "Change positions of Checklist."
It's simple - I need possibility for change checklist positions inside checklist. After few days of work I understand that forget some, but this "some" in the beginning of checklist. I can add it just in last position.

[2020-05-13 11:02] synapse commented on #11
To fix this implies that italic styling has to have a space before and after the word (_ = space) `_ /italic/_` and won't be able to have multi spaced words styled without wrapping each work with slashes. @doctopus can't you just use different date formats? (e.g. 5-2-2020 or 5.2.2020)

[2020-05-13 13:05] RrobertRr opened #13 "Open attachment instead of saving"
Actually:
If I click on an attachment, stacks will save this attachment on my file system.

My request:
Can you change this, so that the attachment will be open in the default software, without save it first on my file system?

[2020-05-13 18:09] RrobertRr commented on #13
Wow. This was very fast. Excellent Work.
THANK YOU!

[2020-05-13 18:09] #13 closed

[2020-05-13 19:40] synapse commented on #12
Hey @VitaliyAT check version 0.2.8 for this feature

[2020-05-13 19:40] #12 closed

[2020-05-15 16:42] AlexeyKolodchenko opened #14 "not working check update"
**Describe the bug**
Not working check update version the application

**To Reproduce**
Steps to reproduce the behavior:
1. Go to menu Stacks
2. Click on Check update
3. And silent........

**Expected behavior**
I want to see a notification about a new version of the app preferably check it automatically

**Screenshots**
no screenshots

**Desktop (please complete the following information):**
 - m

[2020-05-18 07:00] yazeed opened #15 "Analysis not Analisis"
Under the sub-menu Task Progress when you right click a card, there's a word that says Analisis, it's a typo, it should say **Analysis**.

[2020-05-20 04:40] theportablegeek opened #16 "Malicious Activity Found in Stacks-Setup-0.2.8.exe"
**Describe the bug**
Three separate anti-malware sandboxing tools have identified the Windows EXE file as performing malicious activities 🤕 Actual results are linked below:
- [Any.Run](https://any.run/report/6bbd3b3bf069682dd4eab8ab4e340c4cc4100952f4d801f642202dea7dae328f/f1ccbdbc-c5d3-423a-979b-45f76b45429e)
- [Hybrid Analysis](https://www.hybrid-analysis.com/sample/a07b5f6c9eaf46fddfa16d055d9544

[2020-05-20 04:45] theportablegeek opened #17 "Windows Defender Marks Unsafe"
**Describe the bug**
Windows Defender is throwing all sorts of red-flags for this software, making me more than a bit nervous to have it on my device causing malware-related havoc.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stacks.rocks/
2. Click on Windows 7+ EXE
3. Download EXE File
4. Attempt to open
5. See Warning

**Expected behavior**
Have no warnings from Windows de

[2020-05-20 06:26] synapse commented on #14
Hi @AlexeyKolodchenko , have you tried with one of the newest versions 0.2.7 or the latest 0.2.8?

[2020-05-20 06:31] synapse commented on #16
Hi @theportablegeek have you tried this test with any other electron based app?

[2020-05-20 07:08] doctopus opened #18 "Allow resizing window"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I want to resize the window to smaller than the predefined smallest window size.

**Describe the solution you'd like**
Allow resize with the horizontal and vertical scroll bars.

[2020-05-20 12:51] theportablegeek commented on #16
@synapse I have not, but let me do that today and I will post the results 👍

Thanks for quick reply and again, great tool 🙌

[2020-05-21 16:19] theportablegeek commented on #16
@synapse here are the results for the DiscordSetup.exe also reported as Malicious

https://www.virustotal.com/gui/file/568177f55700fa4239725ca39ff076fa8ec875f8d02f69c97c39e859861ad168/detection
![image](https://user-images.githubusercontent.com/26526271/82580071-87b32480-9b43-11ea-956e-5bf88960c117.png)

https://any.run/report/6f9ca5577ff3b7cd51e4d2fa099d02e703f626488c5cdfe32c6858be129221be/ef81fb

[2020-05-22 06:50] synapse commented on #16
@theportablegeek this confirms my theory that all electron based apps have the same issue 😉

[2020-05-24 19:48] theportablegeek commented on #16
Fair point - I will leave this issue to you to close - but I hear where you are coming from...

[2020-05-25 06:35] #16 closed

[2020-05-30 05:57] RrobertRr opened #19 "Add Custom fields to a card"
**Is your feature request related to a problem? Please describe.**
I wish that I can create own custom fields to a card, as many as I want.
I will also name this custom fields, how I want.

**Describe the solution you'd like**
As a result I wish to have a button for create a custom field.
If I click on this button, there will be created a custom field and I can give this field a name and can fill

[2020-05-30 06:15] RrobertRr opened #20 "MarkDown preview also in the *description* field"
**Is your feature request related to a problem? Please describe.**
If I'm using markdown syntax in the description, I can't see the interpretation of md.
![md](https://user-images.githubusercontent.com/25011725/83321031-3bf03180-a24d-11ea-9a9e-3034ba3eeed8.PNG)

**Describe the solution you'd like**
I wish to have an edit mode (for example, if I click in the "description" field) and a preview of th

[2020-05-30 06:21] RrobertRr opened #21 "content by mouse over a item in dashboard view"
If I go over an item on a card in the dashboard view, I want to see the content of this item.
For example (See picture). If I go over the "description" item, I get the information "This task has a description". But I want to see the content of the description (interpreted md).
![mouse_over](https://user-images.githubusercontent.com/25011725/83321200-2e877700-a24e-11ea-9845-e0f62c803942.jpg)

[2020-06-03 20:11] synapse commented on #15
Hey, @yazeed I think you're using an old version because in the newest available this typo should be fixed. Can you please check if you're at 0.2.8

[2020-06-03 20:11] #15 closed

[2020-06-03 20:12] #11 closed

[2020-06-08 15:37] 0lm opened #22 "Any plans to make it open source?"
I looked for an offline, Standalone, non-server Alternative of Wekan for Windows for longer now. And with Stacks, I finally found it. Unfortunately not open source. Are there any plans to make it open source in future?

[2020-06-17 20:13] yuriybakalov opened #23 "Bug - change the order of checklists and items inside a checklist is not working"
**Is your feature request related to a problem? Please describe.**
You can not change the order of checklists and items inside a checklist

**Describe the solution you'd like**
I want to change the order of checklists and items inside a checklist

**Describe alternatives you've considered**
None

**Additional context**
none

[2020-06-17 20:23] synapse commented on #23
Hey @yuriybakalov if you hover over a checklist item (on the very right edge) there should be a menu that enables you to move the item around and also delete it.

[2020-06-19 10:42] yuriybakalov commented on #23
Hi @synapse ! Thank you for reply. Yes, I missed the option to change the order of checklist items, but if you have multiple check lists in one task you are not able to change their order. Although the cursor changes to four-directional arrows when you put it on the check list icon. Not sure if there is a possibility to change their order by design.

[2020-06-19 12:05] synapse commented on #23
Ah, ok. Yeah that's a feature that will soon be available

[2020-06-26 21:24] synapse commented on #22
Hey @0lm, not for the moment but we'll open-sourcing the server as soon as we have a stable version.

[2020-06-30 09:33] synapse commented on #23
Hey @yuriybakalov check version 0.2.9

[2020-06-30 09:33] #23 closed

[2020-06-30 09:33] synapse commented on #21
Hey @RrobertRr check version 0.2.9

[2020-06-30 09:33] #21 closed

[2020-06-30 09:33] synapse commented on #18
Hey @doctopus check version 0.2.9

[2020-06-30 09:33] #18 closed

[2020-07-01 14:25] kernelplv opened #24 "stacks options: auto-size window, hiding button "Add a new stack""
![subject](https://i.imgur.com/wuE0Y22.png)

I need options to hide the button for adding a new column from the common space, and I also need an option to allow Stacks to expand themselves, which should lead to hiding the scrollbar.
Sorry for my English

thank you :)

[2020-07-03 06:51] synapse commented on #24
Hey @kernelplv your request is not clear. Can you rephrase your request?

[2020-07-03 08:57] kernelplv commented on #24
sure

[2020-07-03 11:15] doctopus commented on #24
I support the idea of hiding the "Add new stack" column. Since this is a infrequently used option, mostly only while setting up your stacks, it is better to keep this option in the preference pane, or the three dot menu of each stack, just above the "Delete Stack" button saying "Add Stack".

[2020-07-06 07:09] denisobolensky opened #25 "Display Task ID in the card"
**Is your feature request related to a problem? Please describe.**
In JIRA, YouTrack, and other software we can see task ids in cards. And then we can use those ids to refer to original tasks in git branches, etc.

**Describe the solution you'd like**
I propose to add a customizable task ID field, that can be hidden or visible depends on user preference. And we also could provide some tag value fo

[2020-07-12 16:52] pedrovillalobos opened #26 "Let's Encrypt certificate expired on the website"
**Describe the bug**The website stacks.rocks SSL certificate is expired

[2020-07-13 06:46] synapse commented on #26
Hey, @pedrovillalobos thanks for the feedback. The certificated was renewed

[2020-07-13 06:46] #26 closed

[2020-07-21 05:58] synapse commented on #24
Hey @kernelplv check version v0.2.10

[2020-07-21 05:58] #24 closed

[2020-07-21 05:58] synapse commented on #19
Hey @RrobertRr check the latest versione 😉

[2020-07-21 05:58] #19 closed

[2020-07-21 09:37] kernelplv commented on #24
❤

[2020-07-29 16:36] #14 closed

[2020-08-05 16:39] doctopus opened #27 "Remember Window Size"
Stacks forgets the window size upon restart.

Allow it to remember the window size after resizing from its default size.

[2020-08-06 13:54] synapse commented on #27
Hey @doctopus check version 0.4.0

[2020-08-07 13:13] doctopus commented on #27
Thank you for the quick implementation. Great job in update notification style too.

[2020-08-07 13:23] #27 closed

[2020-08-18 14:46] yazeed opened #28 "Add To Top should be where it's adding tasks (top/bottom)"
**Is your feature request related to a problem? Please describe.**
Add To Top preference being selected, should have "Add a Task" at the top when it's set that way, as it doesn't make sense to click it at the bottom and have it add tasks at the top. On the other hand, it should be at the bottom when Add To Bottom is selected in preferences.

[2020-08-24 02:38] httpsterio opened #29 "UX and productivity boost"
**Is your feature request related to a problem? Please describe.**
Adding and editing tasks require a lot of mouse coordination and I'd like to do more with just my keyboard. I'd also like more control over the default fields and features present.

**Describe the solution you'd like**

1. I'd like to be able to create a new task into a board's "default" stack or have the task creation window askin

[2020-08-24 18:49] httpsterio commented on #29
Hey, I'm sorry I know there's a lot of different issues packed in this one, and as they're opinionated feature requests and I'd understand if you don't want to implement them at all. Is the source code available anywhere? I could also implement some of them myself and throw a PR

[2020-08-25 13:12] synapse commented on #29
Hey, @httpsterio I'm already working on most of the features you've requested. Some of them as you've mentioned are very opinionated and won't be implemented unless I'll find a good way to also replicate them in the upcoming open-source server.

[2020-08-25 14:50] synapse commented on #29
@httpsterio about 8th feature it is visible on demand by enabling it in the preferences

[2020-08-27 13:57] dwivedikunal100 opened #30 "Add folder option to group boards"
**Is your feature request related to a problem? Please describe.**
I installed it today,and really liked the UI and features. The only thing is currently it becomes huge list of boards.

**Describe the solution you'd like**
Add folders and collapsable Folder view, so that that boards can be grouped folder wise.

[2020-08-31 20:27] mkeeler opened #31 "Markdown Escaping and Syntax Highlighting/Preformatting"
**Describe the bug**
I created a task with the following content: `foo-bar and bar-baz`. Now everything between the two hyphens is formatted with a line through all the text (strikethrough).

I also created a task with an HTTP path in it such as `v1/foo/bar`. This ends up getting italicized.

Lastly when I enclose anything in backticks it doesn't show up as monospaced "code".

For the first two it

[2020-09-04 06:08] kernelplv opened #32 "Resizing the task edit window"
Hi! The window for editing the task is rather small in relation to the total diagonal of the maximized application window.

![](https://i.imgur.com/PUXaq3g.png)

Thank you!

[2020-09-04 08:41] kernelplv opened #33 "Problems with drag n drop"
**Describe the bug**
Drag n drop does not work correctly. See gif

**Screenshots**
![](https://i.imgur.com/V6HMfrH.gif)

**Desktop (please complete the following information):**
 - OS: Windows
 - Version 0.4.0

Thank you!

[2020-09-04 08:44] synapse commented on #33
Hey @kernelplv can you send me your board via email if there's nothing sensitive in there? I would like to test it out using the Cyrillic letters

[2020-09-04 08:52] kernelplv commented on #33
Done!

[2020-09-04 13:15] synapse commented on #33
@kernelplv I've been playing with your board and I cannot recreate the problems from your video.
Are there some specific steps you did to make the drag act strange?

[2020-09-04 14:06] kernelplv commented on #33
Oh, if I knew .. Maybe there were some errors on the board with the upgrade? This board exists from the moment when the Stacks repository was 15 days :)

[2020-09-04 14:21] synapse commented on #33
Hmm strange, the board structure was not changed until now.
I'll let this issue open. Keep me in touch if you encounter the same issue in the new board.

[2020-09-04 15:35] synapse commented on #33
Version 0.5.0 is imminent. Please check with that also. If still persists please resend me the board at info@stacks.rocks and telling me exactly which task from what column should I move in order to recreate the issue.

[2020-09-04 16:11] kernelplv commented on #33
Done! I recorded a video and added it to an attachment

[2020-09-04 17:11] synapse commented on #32
Hey @kernelplv there's a new option in the Preferences in version 0.5.1 that makes the task detail window larger.

[2020-09-04 18:21] kernelplv commented on #32
Exactly what I wanted!

[2020-09-05 09:28] #32 closed

[2020-09-05 13:37] synapse commented on #9
Hey @M00dyB45t4rd from version 0.5.x there are several new keyboard shortcuts including task navigation and quick edit

[2020-09-06 02:42] doctopus opened #34 "Cursor Position While Editing Task Title"
The cursor appears at the end of the text when clicking on the Title or Description Box.

Can be reproduced by clicking any task to edit either the task title or the description.

The cursor should appear at the part of the text where it was clicked. Currently when clicking in either text or description no matter where you click the cursor appears at the end of the text. The purpose of clicking on

[2020-09-06 13:35] Aamir2000 opened #35 "Remove Horizontal Scroll Bar"
# Remove Annoying Horizontal Scrollbars
Hello, I'd like to have some sort of custom scrollbar or no scrollbar at all with these boards because that scrollbar at the bottom is very obnoxious and very distracting when using dark theme because its white colored it'll help in reducing that distraction if those scrollbars are invisible or custom black colored.

**Describe the solution you'd like**
I'd

[2020-09-07 00:46] greatoe opened #36 "easy collapse/expand"
Hi Stacks team,

Is it possible to add features to let user ( me :-) ) easily collapse and expand a stack?

Say a quick button (instead of first click the ... then click 'collapse') or a keyboard shortcut to collapse a single stack, and then click anywhere on the whole collapsed stack bar (instead of a button at the bottom of the bar) to expand it?

I have quite a lot of stacks on a single board t

[2020-09-07 06:54] Jisco opened #37 "Adding multiple attachment files at once"
Hi,
it would be great if it would be possible to add multiple attachments at the same time. Adding each one at a time becomes very exhausting from about 5 files... 😜

[2020-09-07 10:27] lakuapik commented on #8
fresh install from .deb package, got the same error. but when using `sudo stacks --no-sandbox` it works.

![image](https://user-images.githubusercontent.com/20186786/92377974-300aea00-f12f-11ea-9f9f-d2abfe4d5009.png)

[2020-09-08 15:34] synapse commented on #31
Hey, @mkeeler thanks for the feedback. This will be fixed in the next release but unfortunately, the syntax will slightly be changed

[2020-09-08 15:36] #9 closed

[2020-09-09 12:35] synapse commented on #34
Hey @doctopus, this is kinda impossible more so with the release of the next version wherein the task detail modal window you'll be able to see both the title and the description rendered from markdown.

Clicking on the HTML render would not translate well to the textarea coordinates since the markdown syntax is much longer than the rendered HTML you're seeing. So interpreting the coordinates badl

[2020-09-10 16:36] synapse commented on #36
Hey @greatoe check version 0.6.0

[2020-09-10 16:36] #36 closed

[2020-09-10 16:37] synapse commented on #33
Hey @kernelplv check version 0.6.0

[2020-09-10 16:37] #33 closed

[2020-09-10 16:38] synapse commented on #20
Hey @RrobertRr check version 0.6.0

[2020-09-10 16:38] #20 closed

[2020-09-10 16:39] synapse commented on #31
Hey @mkeeler check version 0.6.0 although take a look at the slightly changed markdown syntax

[2020-09-10 16:39] #31 closed

[2020-09-11 11:09] synapse commented on #35
Hey @Aamir2000, I presume you're on Windows? 😅

[2020-09-11 11:14] Aamir2000 commented on #35
Isn't it too obvious 😂

[2020-09-11 13:35] kernelplv commented on #33
Yes, the problem was solved, thanks!

[2020-09-14 13:15] synapse commented on #8
Hi @lakuapik can you please try with version 0.6.0. I've just successfully installed it on both Ubuntu and Debian

[2020-09-14 14:38] synapse commented on #35
Hi @Aamir2000 check version 0.6.2

[2020-09-14 14:38] #35 closed

[2020-09-14 14:50] Aamir2000 commented on #35
Man I love it 💕💕 it looks awesome now I don't mind not having those ugly looking windows scrollbars you really save my life after using Trello my experience was like 🤢 so I wanted something more elegant looking and I've been using this thing struggling with this scrollbar issue for always 2 yrs now but thank god its fixed now I'm super happy bruh thanks

[2020-09-15 21:57] Aamir2000 opened #38 "Support Full Github Markdown Syntax"
**Is your feature request related to a problem? Please describe.**
Not really its not a problem but something that inspired me after using github projects.

**Describe the solution you'd like**
It'll be awesome if we could literally use markdown in our text description or even custom additional fields. now I do understand the fact that it does support basic markdown functionality already which is

[2020-09-15 22:13] Aamir2000 opened #39 "Description & Tasks In Card View"
**Is your feature request related to a problem? Please describe.**
I know this is probably too much for one guy to complaint about something but I like this software and not only I wanna make it more useful for myself I wanna see it grow too. So this brings me to my actual issue which is that description and tasks we add inside our tasks ( no pun intended ).

**Describe the solution you'd like**
I

[2020-09-16 02:44] ZeedyDF opened #40 "Pomodoro"
A pomodoro would be good to it as many times we have to adjust our time to some tasks we have.
Basically, on the pomodoro field you can select the task you want to work and the time you want to spend doing it. Pomodoro will work very good with the estimated time and the spent as it can fill the time when you finish the task. Aswell, it may be helpful with the tag description, checklist, task progr

[2020-09-16 07:16] lakuapik commented on #8
i've downloaded 0.6.2. still got the same error.

![image](https://user-images.githubusercontent.com/20186786/93303851-45b29a80-f826-11ea-8e47-c9da1323e6f4.png)

but i managed to run the app without `sudo` by running command `sudo sysctl kernel.unprivileged_userns_clone=1`

![image](https://user-images.githubusercontent.com/20186786/93304293-03d62400-f827-11ea-905f-4b60006c066f.png)

reference: ht

[2020-09-16 07:19] synapse commented on #8
Since I'm not super familiar with Linux can you help debug why is this happening? In my new installations of Debian and Ubuntu worked out of the box without any tweaking or custom commands.

[2020-09-16 08:07] lakuapik opened #41 "Open link in browser instead in stacks app"
**Is your feature request related to a problem? Please describe.**
When we open link in stacks app, it opened in same window as stacks.

**Describe the solution you'd like**
Would be nice if the link opened in the browser instead of the stacks app. So we still have same session as the browser when visiting the link.

**Describe alternatives you've considered**
Maybe add some configuration to choos

[2020-09-16 08:18] synapse commented on #41
Hey @lakuapik, this is a bug since it should have opened in the default browser. Thanks for the feedback

[2020-09-16 12:17] synapse commented on #41
@lakuapik Fixed in v0.6.3

[2020-09-16 12:17] #41 closed

[2020-09-17 06:09] fishintaiwan opened #42 "Add tags through context menu"
Currently have to edit a task in order to add tags. Making it easier to add tags to tags through the context menu (right-click) would be a handy UX addition.

[2020-09-17 10:06] synapse commented on #38
Hey, @Aamir2000 adding the full GitHub markdown syntax is not quite a good idea because it could break the UI if headers or other tags like that would be used inside a card. I'll give it a look and maybe implement others that are safe to use (as in not breaking any UI)

[2020-09-17 12:33] synapse commented on #42
@fishintaiwan check version 0.7.0

[2020-09-17 12:33] #42 closed

[2020-09-18 02:54] lakuapik commented on #8
i don't know what happened or how to debug it. i think its the `chrome-sandbox` on the electron side.

also don't know if it is just me or other people have the same issue. i suggest just put the simple work around on the installation documentation. and mark this as close 😄

[2020-09-19 13:15] fredserva opened #43 "Stacks colors & Swimlanes"
Hi!
it would be great if it was possible to attach a color to a stack and to add swimlanes to a board.

Thanks!

[2020-09-20 11:36] synapse commented on #43
Hey @fredserva by swimlanes do you mean something like an automation? Because if not you could just reorder the stacks to match your process

[2020-09-20 13:48] fredserva commented on #43
No, I mean horizontal categorization.
eg:
[Defects/Bugs & Features in this example](https://kanbanize.com/wp-content/uploads/website-images/kanban-resources/software_kanban_board.png)

[2020-09-20 20:39] Aamir2000 commented on #17
To be honest Windows Defender seems more unsafe and the biggest threat in history of windows operating system than anything else. If someone can remove it from windows system completely I'll pay them a million bucks can't believe a company like Microsoft can build such a janky garbage anti-virus I mean saving from virus and all is fine but why it needs to suck up all the resources in pc like liter

[2020-09-22 19:11] Bluetexon opened #44 "App going white after moving tasks"
**Describe the bug**
Moved all tasks from the demo board to the right. The app went white and even after a restart it stays white.

**To Reproduce**
Steps to reproduce the behavior:
1. Opened Stacks
2. Drag and Dropped all Tasks on the demo board from the first column to the second one

**Expected behavior**
The app not going white and continue to function.

**Screenshots**
I've opened the DevTool

[2020-09-22 19:21] Bluetexon commented on #44
I could also send you the corrupted welcome.board file. In case you would like to have a look in there

[2020-09-22 19:27] synapse commented on #44
Hey @Bluetexon, thanks for the feedback.
Since I cannot reproduce the error, can you please remove the demo board and let Stacks recreate it at the next lunch?
Can you check if still crashes? I also saw that you're from Germany which means that is installing a demo board in german?  Could you maybe try with the English version attached?

[welcome.board.zip](https://github.com/stacks-task-manager/s

[2020-09-22 19:38] Bluetexon commented on #44
Hello,
thank you for the fast response.
I tested it a bit more, used your english board file and it seems to be happening _sometimes_ when moving the red, important task. Not every time, but sometimes. Sadly I can't seem to find a specific scheme. I was playing around with it, which is why I moved them a bit too quickly, but I thought it is still worth reporting :)
I made a small gif which can hop

[2020-09-22 19:44] Bluetexon commented on #44
I did a bit more digging and found the line which is causing these issues.
![image](https://user-images.githubusercontent.com/22718113/93929760-a0fbf580-fd1c-11ea-9adc-29386eed9993.png)
Stacks can start as usual and load the board correctly when I remove this line.

[2020-09-22 19:48] synapse commented on #44
After seeing your Gif I was able to recreate the error in my dev environment. Thanks for the help. In the meantime go slow 😅

[2020-09-22 19:49] Bluetexon commented on #44
I will 😉
Thank you for your help and thank you for making this app. I really like it 😀

[2020-09-23 14:48] dirkk0 opened #45 "Stacks can't auto-update on Linux"
**Describe the bug**
Not entirely sure if this is a bug, but on startup the app complains that it doesn't find this:
Error: Error: ENOENT: no such file or directory, open '/opt/Stack Linux/resources/app-update.yml'
Trying to update manually also throws this error.

**To Reproduce**
Steps to reproduce the behavior:
Just start the app on Pop_OS or update via menu.

**Expected behavior**
No error mes

[2020-09-30 10:10] RrobertRr opened #46 "Option to show checklist in Kanban View"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I first musst klick on a ticket, to see the Checklist.

**Describe the solution you'd like**
I wish to see the Checklist of a Task in the Kanban Overview.
Here is an example, how I wish it:
![image](https://user-images.githubusercontent.com/25011725/94672700-ea000b00-0315-11eb-8169-3b8f15f3d70d.png)

[2020-09-30 11:42] RrobertRr opened #47 "Possible to create links to other tasks"
I want to create links to other tasks on the same board.

[2020-10-03 10:03] RaidanAlyssi opened #48 "Color coding text in tasks"
It'd be great if we could color code text in tasks. I've been using bold + italics to make text standout but it'd be nice to be able to change colors of words so that certain words would stand out more uniquely.

For example something like this: https://www.bbcode.org/examples/?id=6

[2020-10-03 12:52] synapse commented on #48
Hey @RaidanAlyssi, nice idea. In the meantime, you could use the `highlight` syntax (`::word::`) to emphasize your words

[2020-10-07 20:21] synapse commented on #48
Hey @RaidanAlyssi check version 0.8.0

[2020-10-07 20:21] #48 closed

[2020-10-07 20:22] synapse commented on #46
Hey @RrobertRr check the latest version 0.8.0

[2020-10-07 20:22] #46 closed

[2020-10-07 20:23] synapse commented on #39
Hey @Aamir2000 please check the the new `eye` toggle button that enables the description in the card and the new popups from the card footer

[2020-10-07 20:23] #39 closed

[2020-10-07 20:35] Aamir2000 commented on #39
Wow this is awesome It's like past midnight here but I still woke up to check out this update just because I know man you've done some significant work on this app and I love it thanks for fixing these issues of mine. I appreciate your efforts a lot.....I'm not gonna bother you again with some stupid request I think I'm pretty satisfied unless you want me to point out things that can be good to ha

[2020-10-08 06:38] synapse commented on #39
Sure @Aamir2000 every feedback is good, so keep them coming!

[2020-10-10 21:43] pidgeon777 opened #49 "[Enhancement] Search in all boards and not only in the active one"
Actually, search only occurs on the active board. It would be cool to add an option so that search can be performed on all available boards, eventually by adding some text to the reported search results specifying the board on which the task has been found.

Or better, display the found task in split sections in the search results page, one for each board in which the task has been found. For exam

[2020-10-10 23:20] pidgeon777 opened #50 "[Feature] Paste and save PNG image with Ctrl+V"
Some editors recognize when an image is going to be pasted with Ctrl+V. The clipboard content is read and then the resulting image is losslessly saved into a .PNG file.

It would be nice to add this feature to stacks, too. When pasting an image into the task description field, it could be automatically saved into a .PNG file and attached.

Or, when pasting the image when no task is opened, a new t

[2020-10-10 23:30] pidgeon777 opened #51 "[Enhancement] Clicking on a marker location should open the associated task"
Inside a task, it is possible to add one or more location markers. When clicking on one of those markers in the map window, the associated task should be opened.

[2020-10-11 07:14] synapse commented on #49
Hey, @pidgeon777 this most likely to be done only with the online version using the [server](https://github.com/stacks-task-manager/server). The current standalone/offline version is kinda hard since the boards are not all loaded into memory. Only the current board is loaded.

[2020-10-11 10:31] pidgeon777 commented on #49
Thanks for the prompt reply. What a pity... hopefully in the future it will be possible to do that even for the offline version. It would be quite a useful and time saver feature, already implemented in similar tools. Especially when dealing with a big number of available boards.

[2020-10-11 10:52] pidgeon777 commented on #49
I would add, even more useful when searching for tags, for example, #Urgent. The current implementation would require to select each board and search for the #Urgent tag... by making this tag system almost useless, I think (one would expect tags to be common to all boards thus searchable). Just my opinion, though.

[2020-10-11 12:51] pidgeon777 opened #52 "[Feature] Command line switch to specify library path"
It would be nice to add a command-line switch such as:

stacks.exe -lib="C:\Path\to\library"

overriding the saved path reported in the settings panel (eventually without replacing it in the settings file).

If running stacks without specifying that switch, the previously saved path would thus be used instead.

[2020-10-11 12:56] pidgeon777 opened #53 "[Feature] Button/command to refresh the board"
It is possible to edit the JSON file of a board while running stacks. A refresh button could be added (F5 shortcut) to refresh the modified board currently displayed in stacks.

[2020-10-11 12:59] pidgeon777 commented on #53
Or, even better, add an option to automatically refresh the displayed board when the library files are externally modified.

[2020-10-11 20:48] core-code opened #54 "clarify relation to Stacks 1.4.3 from the Mac App Store"
can you please clarify what relation this app has to the 'Stacks' that was distributed on the Mac App Store a while back?

is it a new generation of the same app? if so, why does it have a lower version number?

is it a completely different app? if so, why does it have the very same bundle-identifier which may only be identical for identical apps?

thanks for clearing this up!

[2020-10-12 08:49] fredserva commented on #45
If you [read the docs](https://www.electron.build/auto-update), it's explained:
[code]
So, if no custom configuration, the rpm, deb et snap won't auto-update.
I have tried with a AppImage: works well!
Doesn't work with a .deb file...

**Btw**: No Stacks icon in the tray with AppImage...

[2020-10-12 13:28] synapse commented on #53
Hey @pidgeon777 to refresh a board try using `Ctrl + R` on Windows and Linux or `Cmd + R` on Mac.
As for the options in the screenshot, there were intentionally removed due to some bugs but will be restored ASAP.

[2020-10-12 18:42] pidgeon777 commented on #53
Automatic reload based on external file modification would be nice, indeed. Thanks for the tip!

[2020-10-13 15:39] synapse commented on #37
Hey @Jisco check version 0.8.2

[2020-10-13 15:39] #37 closed

[2020-10-15 21:44] vilagszottes opened #55 "Checklist tooltip message on eye icon is flashing at stacks column when zero or 1 item is active"
**Describe the bug**
Checklist tooltip message (Show completed tasks / Hide completed subtasks) on eye icon is flashing fast at stacks column when zero or 1 item is active.

**To Reproduce**
Steps to reproduce the behavior:
1. If the task is not has checklist, at edit dialog's bottom area click on "Add a checklist" icon to add 1 or more item.
2. After exit from editing, on stack column at the task

[2020-10-16 12:16] synapse commented on #55
Ok, found it

![](https://i.imgur.com/n6mMcYP.gif)

@vilagszottes thanks for the feedback

[2020-10-19 13:22] vilagszottes opened #56 "Stack title's name change is not saved in version 0.8.3"
Hello again!

I've found another bug: stack column title's name change is not saved in versions: 0.8.2 and 0.8.3.
But in earlier version 0.8.0 it works well, the title is saved ok.

Anyway, I recently started using the program to manage work tasks. I really like it.
I've added my list at AlternativeTo: https://alternativeto.net/list/18398/notetaking-calendar-to-do-list-apps/
I'll promote it on my

[2020-10-19 16:45] synapse commented on #56
Hey, @vilagszottes will be fixed in the next release 0.8.4 later today.
Thanks for your feedback and the promotion

[2020-10-19 16:46] synapse commented on #55
Hey @vilagszottes, this also will be fixed with the latest release later today 0.8.4.

[2020-10-20 12:03] #56 closed

[2020-10-20 12:03] #55 closed

[2020-10-21 08:25] farouqzakwan opened #57 "Right click on collapse stack"
**Right click on collapse stack**
User Interface for renaming stack have problems when collapsing stack and right click it on it.

**To Reproduce**
1. Collapse Stack
2. Right Click on stack (User Interface have problems)
3. Open Stack from Collapse
4. Rename the stack title (User Interface have problems)

![1](https://user-images.githubusercontent.com/7401765/96693517-ebbf6a80-13b9-11eb-93a9-caf82

[2020-10-26 07:23] synapse commented on #54
Hey @core-code, why do you need this?

[2020-10-26 10:01] core-code commented on #54
if there are two apps from the same vendor with the exact same name this creates confusion. clarifying whether this is a successor app or supposed to be something different would help clear up the confusion.

since you don't see the need explain this, lets close this issue.

[2020-10-26 10:01] #54 closed

[2020-10-27 10:28] synapse commented on #57
Hey @farouqzakwan, this should be fixed in the latest release 0.8.5

[2020-10-27 10:28] #57 closed

[2020-10-27 10:29] synapse commented on #22
Hi @0lm, check the open-source server available [here](https://github.com/stacks-task-manager/server/tree/develop)

[2020-11-02 12:43] synapse commented on #53
hey @pidgeon777, check the new menu item for refreshing the board in ver. 0.9.0

[2020-11-02 12:43] #53 closed

[2020-11-02 12:45] synapse commented on #43
hey @fredserva, we've added a new Stack color/tint option in the latest v 0.9.0.
As for the swimlanes, we won't support it for the time being.
Closing this issue

[2020-11-02 12:45] #43 closed

[2020-11-02 19:32] pidgeon777 commented on #53
Will do! Thanks for the enhancement.

Now I'm just hoping this feature will be one day be implemented, it's the only thing holding me and some fellows from migrating from Trello to stacks:

https://github.com/stacks-task-manager/stacks/issues/49

[2020-11-04 08:38] synapse commented on #53
Hey @pidgeon777, in version 0.9.3 also added automatically reload in case the library changed

[2020-11-05 12:57] jokysatria opened #58 "Rename .board file"
**Is your feature request related to a problem? Please describe.**
I want to rename the board files for readability and easiness to identify. For example, from "d3a26568-5497-4e3c-ad5d-f7eb13ee1ec1.board" to "my board.board."
![image](https://user-images.githubusercontent.com/69371378/98243084-055ad780-1fa0-11eb-98dc-087122eae422.png)

But every time I renamed it, I got an error, Stacks couldn't f

[2020-11-06 08:46] synapse commented on #58
Hey @jokysatria, there are several problems in renaming the board files which I'll try explaining below:

- since the offline version of Stacks could use a cloud service to sync its library this could cause some problems when there are multiple concurrent users involved. The cloud service may create a new file when one of the users renames the board. This could lead to problems when the other user

[2020-11-06 09:38] pidgeon777 commented on #53
This is a great feature, thank you!

[2020-11-06 09:43] pidgeon777 commented on #53
I think your project has a lot of potentials but it needs more visibility somehow.

[2020-11-06 09:52] synapse commented on #53
You're right but you also have to consider the fact that Trello has a big corporation behind it with a lot of budget 😅
We'll get there 👍

[2020-11-06 12:14] jokysatria commented on #58
Understood, thank you. After reading your explanation, I had an idea for a workaround. I can use a folder for each board, then rename the folder.

[2020-11-08 12:49] ranjithkumark8 opened #59 "Problem while loading the board"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-11-08 12:52] ranjithkumark8 commented on #59
Os- windows -10 latest version
When I was trying to create bard after installing. I can't able to load the board for your reference I'm attaching a screenshot
![image](https://user-images.githubusercontent.com/57569434/98465479-498fe700-21ef-11eb-9341-1273934243ce.png)

[2020-11-08 19:18] pidgeon777 commented on #53
Understandable, but potentially many developers might be interested in contributing free of charge to the development of this project, for example through pull requests or bug reports. In this way, ideas may emerge that allow you to quickly and effectively implement the most complicated features required.
However, it is certain that the project should be publicized as much as possible for this to

[2020-11-08 19:21] pidgeon777 opened #60 "Wrong download link description in stacks.rocks site"
I'm not sure the Windows download link descriptions are right:

![image](https://user-images.githubusercontent.com/13739892/98482169-e6f31700-21ff-11eb-8e90-1b997a2b3f05.png)

Should one of those report 64bit instead of 32bit?

[2020-11-08 20:01] pidgeon777 commented on #58
Or, eventually, the rename board feature could be added for the offline version. It would make more sense on this case, given that not everyone would share their boards with someone else, by choosing the offline way, instead.

[2020-11-09 07:41] synapse commented on #60
This is an automated process, something might have gone wrong. I'll fix it.
Thanks

[2020-11-09 11:18] realJema opened #61 "Getting this error on first launch"
I am getting this error when I first launch the app.
My computer specs
Win 10
I7
64bit
![image](https://user-images.githubusercontent.com/16238730/98534936-8c9c9980-2285-11eb-8142-bf9b69fa930c.png)

[2020-11-09 15:15] synapse commented on #60
@pidgeon777 should be fixed

[2020-11-09 15:15] #60 closed

[2020-11-09 16:18] synapse commented on #61
Hey @realJema, could you check out the newly released version 0.9.5? The problem you've mentioned should be fixed.

[2020-11-09 16:19] synapse commented on #59
Hey @ranjithkumark8, could you check on the newest version 0.9.5. Let me know if you're still having issues

[2020-11-10 09:47] #61 closed

[2020-11-10 09:47] realJema commented on #61
it was resolved thanks

[2020-11-12 22:16] jokysatria commented on #47
I think url scheme will be a nice feature!

[2020-11-18 07:28] synapse commented on #30
Hey @dwivedikunal100, check the latest version 0.10.0

[2020-11-18 07:28] #30 closed

[2020-11-18 08:46] dwivedikunal100 commented on #30
Thanks looks great!!

[2020-11-20 11:37] UjwalNK opened #62 "Template for tasks"
# Task Template (Feature Request)
- Create template for tasks
- option to use template on opening an empty task
 would be amazing, thanks

[2020-12-02 12:25] jokysatria opened #63 "Auto scroll when dragging a task to most left/right"
**Is your feature request related to a problem? Please describe.**
Currently, when dragging a task out to most left/right, the window won't scroll. This makes it difficult to move a task to another stack that is on another side.

**Describe the solution you'd like**
The window will automatically scroll as like as when dragging a stack.

**Describe alternatives you've considered**
Actually I can sc

[2020-12-02 14:18] synapse commented on #63
Hey, @jokysatria in the next version this should be fixed 😉 . Thanks for the feedback

[2020-12-05 13:24] synapse commented on #63
Hey @jokysatria, should be fixed in 0.10.1 even though I had to disable the fixed height stacks option for the time being - the drag-and-drop library has some issues with nested scroll elements 😢

[2020-12-05 13:24] #63 closed

[2020-12-17 04:49] kberkut opened #65 "Tint not work or unclear how to use"
**Describe the bug**
Tint not work or unclear how to use

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'settings of board'
2. Click on 'Tint'
3. See empty

**Expected behavior**
View menu with different colour

**Desktop (please complete the following information):**
 - OS: [Arch Linux x86_64 -> 5.9.13-arch1-1 + i3wm]
 - Version Stack-Linux-0.11.0-beta.1.AppImage  or Stack-Linux-0.10

[2020-12-17 07:44] synapse commented on #65
Hey, @kberkut I think you've downloaded the Beta version instead of the stable latest version which is [10.0.1](https://github.com/stacks-task-manager/stacks/releases/tag/v0.10.1).
Make sure you delete the current Stacks library by the beta version - should be found in your `Documents` folder

[2020-12-17 12:27] kberkut commented on #65
Thanks. Beta version not have tags.
![изображение](https://user-images.githubusercontent.com/57869227/102487949-620be080-407c-11eb-9eed-899c55f0ef90.png)

[2020-12-17 12:29] synapse commented on #65
Yes, at the moment the Beta does not have the tags since I'm working on having a new Board Preferences window.

[2020-12-18 06:27] kberkut commented on #65
Thank you.
I think may be colour may be set more visible for task and columns. For example:
![image](https://user-images.githubusercontent.com/57869227/102582245-3e47a980-4113-11eb-8fcb-5aad21a2665d.png)

[2020-12-18 07:09] kberkut opened #66 "The moving of tasks"
Can you do menu for move of task?
Folder -> Board -> Column
And important: options will be not remove (tags, date and etc.)

[2020-12-21 10:20] synapse commented on #65
This feature is already available on the List View in the Beta version. I'll add it also to the Board View as a togglable option of the board

[2020-12-23 08:31] synapse commented on #65
Hey @kberkut a quick screenshot from the latest Beta version (not yet released)

![](https://i.imgur.com/In503E0.png)

![](https://i.imgur.com/U5rVvoL.png)

[2020-12-23 12:54] kberkut commented on #65
That's better. Thank you.

[2020-12-25 17:37] intervolver opened #67 "The order tags appear in the Manage Tags menu should be editable."
**Issue**
Too many tags increases travel time on tag assignment to newly added tags, incrementally slowing the initial building of a board.  The order tags appear in their menu should be editable.  While not an issue with a pool of around 5 tags, this becomes more and more annoying as multiple boards are created from a template and task-specific tags have to be added after the default tags per boa

[2021-01-11 19:13] intervolver opened #68 "[Enhancement] Set the color of completed tasks in preferences"
**Issue**
In dark mode, the completed task highlighting is visually prominent and draws attention. A completed task should be visually deprecated or distinguished in a way that doesn't make it appear more important.

**Allow the user to define the color of tasks highlighted as complete**
Ideally the user should be able to pick a color that conveys information as they need it.

**Alternatives I've

[2021-01-14 14:00] pwndumb opened #69 "Where is TAGS ?"
**Is your feature request related to a problem? Please describe.**
I love the app but I really not found in easy way to tag my tasks.

![Tags-1](https://user-images.githubusercontent.com/6491534/104600066-484bc200-5657-11eb-9cec-4ff7c2382da9.png)

When I click in this button nothing happens. I run in mac and windows. The result is the same. The possibility can tag tasks is awesome, but is not came

[2021-01-14 14:05] synapse commented on #69
Hey @pwndumb, we are aware of this issue and we're already done big improvements that will be available in the next major release.
Until then to manage your tags - just open the Preferences side panel and you should be able to add or edit them under the board section.

[2021-01-17 21:58] #69 closed

[2021-01-28 23:09] sandlex opened #70 "Inconsistent behaviour of tags checkmarks in context menu"
**Describe the bug**
When assigning a tags to a task the state of the checkboxes in context menu is not reflecting assigned tags correctly until menu is not closed.

**Screenshots**
https://user-images.githubusercontent.com/841632/106209681-bbac1280-61c5-11eb-9b12-bd84f7aa1089.mov

**Desktop (please complete the following information):**
 - OS: macOS Catalina 10.15.5
 - Version: 0.10.2 (0.10.2)

[2021-02-05 01:35] Atisnet opened #71 "Screenshots login of my PC for task"
It is possible that app take screenshots and save it for review later

[2021-02-10 16:47] GitSomeSource opened #72 "At 0.10.4 Stacks is already better than every other off-line Kanban app I've tried ... but it needs just a few things ..."
A few requests:

Could the board menu have a toggle such that it could be left open or closed at the user's option?

As such ... could Stacks add the ability to drag tasks to other folders / other projects?

Could there be global tags? - right now they are specific to each project - which works great but
for things such as grouping third party work or other resources global tag searches are a must

[2021-02-11 14:31] synapse commented on #72
Hi @GitSomeSource, thanks for the feedback. We're intensively working on the next major version of Stacks which is currently in closed beta (if you join our Slack channel you  may download the latest version which might already have the features you've requested and much more)

[2021-03-02 07:31] synapse commented on #71
Hey @Atisnet, it may do that but that's not in the scope of this application

[2021-03-02 07:31] #71 closed

[2021-03-03 09:52] synapse commented on #47
@RrobertRr this feature is already available in the current beta version

[2021-03-03 09:53] synapse commented on #10
Hey @MeloncholyShiro the new version of Stacks (currently in beta) has multiple new views including list view and table view.

[2021-03-15 11:39] Ruco opened #73 "Missing Release Notes"
Hi,

Love the application!

I noticed however that you refer to the release notes on the website, but those haven't been updated since November 2020 / Version 0.10.0.

Would love to be informed about the changes in the newest version(s).

Thank you.

[2021-03-15 13:04] synapse commented on #73
Hey @Ruco, thanks for letting me know, somebody will definitely get fired over this 😅
Just updated the release notes

[2021-03-15 13:04] #73 closed

[2021-04-06 12:06] synapse commented on #70
Hey @sandlex, please check version 1.0.0 that was just released. Should have a better tags picker and manager 😉

[2021-04-06 12:07] synapse commented on #65
Hey @kberkut check out the latest version that was just released 😉

[2021-04-06 12:08] synapse commented on #51
Hey @pidgeon777  check out the latest version that was just released 😉

[2021-04-06 12:08] #51 closed

[2021-04-06 12:08] synapse commented on #49
Hey @pidgeon777  check out the latest version that was just released 😉

[2021-04-06 12:08] #49 closed

[2021-04-06 12:08] synapse commented on #47
Hey @RrobertRr  check out the latest version that was just released 😉

[2021-04-06 12:08] #47 closed

[2021-04-06 12:09] synapse commented on #10
Hey @MeloncholyShiro  check out the latest version that was just released 😉

[2021-04-06 12:09] #10 closed

[2021-04-06 12:09] synapse commented on #72
Hey @GitSomeSource  check out the latest version that was just released 😉

[2021-04-14 10:17] ushu opened #74 "Add reporting feature"
**Is your feature request related to a problem? Please describe.**

nope

**Describe the solution you'd like**

I would like to be able to print (to PDF typically) some of the pages to make reports.

My top priority would be:

- the "Table" page so I can report progress (export to XLS or at least CSV would be ❤️)
- the "Calendar" page to send an overview prior to starting the project
- the "Dashbo

[2021-04-21 18:19] dsgrishin opened #76 "all my data is erased after update"
Today 04/21/2021 the program has been updated. Version 1.1.3. After the update, all my boards, tasks and other data rolled back to the level of a year ago. It was possible to restore the data only thanks to a backup from the cloud. But in the new version there is no cloud backup option.
I am very upset that the program does not provide data safety!

**Expected behavior**
A clear and concise descri

[2021-04-21 18:23] synapse commented on #76
Hey @dsgrishin, version 1.1.x introduced workspaces. Is it may be that your old library path was not the default one?
If yes then just add a new Workspace and point it to the old folder where your library previously was.
Let me know if this solved your issue

[2021-04-22 09:10] sergeevabc opened #77 "Make it keyboard friendly"
Dear Stacks team,
I’ve been following the development since early 0.2.* and it strikes me how unfriendly the app towards oldschool users.
Basic examples:
* Go into some card, change title, save it via Enter, and try to close that card via [Escape][1] key. Not possible.
* Go into some card, change description, save it via Ctrl+Enter or at least via Ctrl+S. Not possible.

[1]: https://yewtu.be/watch

[2021-04-25 01:12] doctopus commented on #76
Same problem here. After 1.1.4 update, all old tasks are gone. Now showing the welcome screen with default tasks. Where do I find my old folder. The Documents/Stacks folder was created by this update.

[2021-04-25 07:58] synapse commented on #76
Hey guys @doctopus @dsgrishin,
There is literally no algorithm for deleting a library. As a result, it's possible that the software reinitialized the demo file in a separate folder to where it originally ran.

There are two options available to you.
1. do a global search in the OS and look for a `structure.tree` or `*.project` file
2. open the current workspace folder and check inside if there are

[2021-04-25 09:33] dsgrishin commented on #76
@synapse Apparently, the problem is precisely the appearance of spaces and the not very successful update algorithm.

[2021-04-26 15:43] synapse commented on #76
@dsgrishin can you elaborate? To know what to fix, I need to know exactly what happened.

[2021-04-26 15:54] dsgrishin commented on #76
@synapse Hey!
About a year ago I installed your program for the first time and started using it.
After a while, I found out that you can synchronize it with the cloud and store the data there, which I did.
Recently, I updated the version and in the documents / stacks directory, which was opened by an automatically created new space, I saw only tasks that were one year old, i.e. everything I filled

[2021-04-26 16:37] synapse commented on #76
So in other words the app changed back to its default folder and didn't consider your cloud-based folder?

[2021-04-26 17:05] dsgrishin commented on #76
If the previous version of the program did not work with the local folder if the cloud is connected, then yes, this is the only logical option.

[2021-04-26 17:21] synapse commented on #76
Yes, it reverted back to the folder in your Documents instead of using your Cloud synced folder

[2021-04-28 07:21] doctopus commented on #76
@synapse I wanted to report back that I could search the structure.tree containing folder and add a new workspace pointing to that folder, now all my data is visible under the new workspace. Problem solved. If the new update could have preserved the previous workspace while adding the new welcome workspace, it would have been nice. But glad to have found the solution. Thank you.

[2021-05-06 12:56] ualvesdias opened #78 "Max 3 projects limit bypass"
**Describe the bug**
It's possible to bypass the limit of 3 projects on free versions of the app by simply duplicating an existing project and renaming it.

**To Reproduce**
Steps to reproduce the behavior:
1. Right click on any existing project, chose Duplicate Project
2. Choose a new name for the duplicated project
3. Move the new project into another folder, if desired
4. Change the contents of

[2021-05-06 13:40] synapse commented on #78
Hey @ualvesdias, thanks for finding the security flaw 😅 . Please get in contact with me, I have something for you 😉

[2021-05-06 13:40] #78 closed

[2021-05-06 14:44] ualvesdias commented on #78
Thanks! I've sent you an email at thesynapseproject@gmail.com.

[2021-05-06 14:45] ualvesdias commented on #78
Thanks! I've sent you an email at thesynapseproject@gmail.com.

[2021-05-28 17:31] codegarden13 commented on #66
I can drag a task to another project. **If drag is possible, drop should also be possible** because drag makes the user feel drop should work. If it does not, it makes him/her believe it is a bug ...  He will loose a bit of trust in the product.

[2021-06-13 16:58] mbrock321 opened #79 "Cannot unarchive tasks"
There doesn't seem to be any way to un-archive a task

**Describe the bug**

I can't move a task back to an active stack once it has been archived.

**To Reproduce**
1. Open a task in the archive.
2. Use speed menu to select the option "Copy task as new"
3. Choose a target from the drop-down menu of stacks.
4. Nothing happens; no copy is made of the archived card in the selected stack.

**Expected

[2021-06-21 00:09] jbb352 opened #80 "Multi page notepads"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When using notepad's I like to organise the notepads for high-level categories, but with the current version, I can only have a named notepad with one page.  This is hard to organise (I take lots of notes in my job)

**Describe the solution

[2021-06-21 00:19] jbb352 opened #81 "Master board"
**Is your feature request related to a problem? Please describe.**
I have a number of projects that I work on at any given time, currently I have to go through each of my boards to check the tasks I have going on, which means clicking through each board in each project and reviewing it.  This is leads to a lack of visibility across my workload.

**Describe the solution you'd like**
I think, having

[2021-06-22 16:48] synapse commented on #79
Hey, @mbrock321 should be available in the latest version 1.3.0

[2021-06-22 16:51] synapse commented on #70
This issue should be fixed with version 1.3.0

[2021-06-22 16:51] #70 closed

[2021-06-22 16:52] synapse commented on #66
Hey, @kberkut @codegarden13 there's a new Copy/Move wizard available now in version 1.3.0

[2021-06-22 16:53] #34 closed

[2021-06-22 16:54] #22 closed

[2021-06-24 01:30] mbrock321 commented on #79
Thanks, this does the job, accessed from the speed menu once you open up a task card in the archive.

Just as a UI note, it might be hard for people to find these functions.  The context menu for "Copy or Move..." was the first thing I tried, but it doesn't even bring up a menu now when used on a card in the archive, so then I went looking deeper and found the new functions.

[2021-06-26 19:58] synapse commented on #79
Thanks for pointing that out @mbrock321. The copy-move context menu should only show for non-archived tasks. The archived tasks should only be managed when opening the task details modal.

[2021-06-27 00:50] mbrock321 commented on #79
Perhaps this should be filed as a new bug, since this one is closed, but it seems closely related, it's not possible to delete a task from the Archive.

Describe the bug:

"Delete" menu item in the context-menu has no effect.

 To Reproduce
1.) Right-click a task in the archive
2.) Choose "Delete" from the context menu
3.) nothing happens

Workaround:

The only way I could find to accomplish this

[2021-07-04 11:04] hschauhan opened #82 "Order By Tags"
This is no a problem per se. Currently the tasks can be order based on priority, due dates etc. It would be nice if the task can also be ordered based on tags.

[2021-07-21 02:00] jrsilvey opened #83 "Open File... Context Window Font Displays as Empty Squares"
**Issue:**
When attempting to add new local workspace, when selecting the option to choose the folder the new local workspace should work from is chosen the file manager is opened but instead of characters of a font empty squares are shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on '+ sign on left hand vertical bar'
2. Click on 'add new local workspace'
3. Click on 'the three

[2021-07-23 20:49] mbrock321 opened #84 "Typing spaces in new task toggles done state off and on in different task"
**Describe the bug**
When I create a new task and start typing the "done" state of the previously selected task toggles off/on whenever I type a space character in the new task description

I have the "Click to select Stacks or Tasks" option ON.

**To Reproduce**
Steps to reproduce the behavior:
0.  Go to Preferences/Projects, make sure "Click to select Stacks or Tasks" is enabled.
1. Go to 'Board

[2021-07-27 08:00] #66 closed

[2021-07-27 08:01] #59 closed

[2021-07-27 08:01] #58 closed

[2021-07-27 08:01] #44 closed

[2021-07-28 14:35] lordofscripts opened #85 "The application erases EVERYTHING on exit"
**Describe the bug**
After the user quits the application (FREE version) the application erases ALL folders, projects, tasks that the user has created. Next start up (even if immediate) you begin with a blank slate. That makes the use of the application pointless.

I thought that perhaps I was forgetting to save but _contrary to generally accepted UX practices_, this application does NOT have a Fi

[2021-07-30 09:30] synapse commented on #85
Hey @lordofscripts, I just checked this problem on both 1.3.5 and the latest version 1.4.0 and it seems to be working fine.
Can you check if you have the correct permission to write in the folder chosen for the new workspace?
A good indication that everything works should be:
* demo documents should be created
* there are no notification errors in the app
* creating a new document should be immedi

[2021-07-31 13:13] pidgeon777 opened #86 "Stacks keep crashing at startup"
**Describe the bug**

As soon as stacks starts, it crashes.

**To Reproduce**

Simply open stacks.

**Expected behavior**

It should not crash.

**Screenshots**

![image](https://user-images.githubusercontent.com/13739892/127740881-ccfa3282-b2b1-46e3-a045-d030f78659e7.png)

**Desktop (please complete the following information):**
 - OS: Windows 10 x64 Pro

**Additional context**

Also, when it cra

[2021-07-31 16:46] synapse commented on #86
I apologize for the inconvenience. There were some conflicts with some very old project files.  Should be fixed with the latest version 1.4.1

[2021-07-31 16:47] synapse commented on #86
@pidgeon777 can you tell me if it's working for you with the latest version?

[2021-07-31 17:09] pidgeon777 commented on #86
I can confirm that with the new 1.4.1 installer it now works.

[2021-08-02 09:16] #86 closed

[2021-08-03 12:55] doctopus opened #87 "Inconsistent Stack based rules: Column specific mark as done, but deletes all tasks across columns."
While accessing menu of one column of the stack through the three dots menu of an individual column, if selecting mark all tasks as done, marks all tasks of that column as done, which is intended behavior. But from the same column spcific menu if you select delete all tasks, then what an user would expect that the action will affect that column. But instead it deletes all tasks of all columns of y

[2021-08-04 14:30] synapse commented on #87
Hey, @doctopus I think you're speaking about the `Archive All Tasks` since there's no option to delete all tasks in one go.
Furthermore, you can restore your archived task by switching to the `Archived View`.

I can confirm that this is a bug and will be fixed in the next version 1.4.4

[2021-08-04 15:15] #84 closed

[2021-08-05 07:01] mbrock321 opened #88 "space bar toggles task done/todo but also scrolls window down"
**Describe the bug**
When using the space-bar to toggle a task between done/to-do, the board view window also pages down to show more tasks, if some stack has more tasks than can fit in the window. (Sometimes this hides the task I've just toggled, if it's near the top of the window.)

**To Reproduce**
Steps to reproduce the behavior:
Make sure your project has a stack with more tasks than can fit

[2021-08-05 09:53] synapse commented on #88
@mbrock321 should be fixed in 1.4.5

[2021-08-05 09:53] #88 closed

[2021-08-05 17:40] mbrock321 commented on #88
Thanks -- that was quick!

[2021-08-06 06:28] synapse commented on #82
Hey @hschauhan this is kinda tricky since the tags assignment is many to one. Furthermore, the tags don't have a specific weight to them. So ordering by tags would be done either:

1. by the number of assigned tags to a task
2. or by the alphabetical value (but this would also vary since one tag may be assigned to a task after another tag)

But there's a new filter by tags option in the Table View

[2021-08-06 06:30] synapse commented on #79
@mbrock321 this context menu was eventually removed for the archived tasks, but will re-add it with some specific options in the next release

[2021-08-06 16:27] mbrock321 commented on #79
Good to know, thank-you.

[2021-08-06 23:55] doctopus commented on #87
I am unable to access the archived view. Is it the paid feature at the top right menu?

[2021-08-09 08:19] synapse commented on #87
Fixed in the latest version 1.4.6

[2021-08-09 08:22] #76 closed

[2021-08-09 08:22] #77 closed

[2021-08-10 15:15] pidgeon777 commented on #86
Are you open to new suggestions, improvements, ideas, to be implemented in your tool?

If yes, may I report them on this GitHub repository?

[2021-08-10 15:17] synapse commented on #86
Of course @pidgeon777, you could also join our Slack channel and contact me directly

[2021-08-10 16:56] pidgeon777 commented on #86
Ok. I just bought a Pro license.

Keep up the great work, e in bocca al lupo 👍.

[2021-08-10 21:55] synapse commented on #86
Grazie @pidgeon777 ☺️

[2021-08-12 21:21] doctopus commented on #87
It is accessible now. It is a pain however to put individual items back. But that's fine. This is acceptable.

I am not sure if other's have mentioned this improvement, that while deleting the item, it repeatedly asks for confirmation dialogue. Could it be done away with. I have a  wide screen monitor, and every task I delete, I would have to move my cursor around too much to achieve this. Thanks

[2021-08-13 18:24] synapse commented on #87
Will improve this experience soon

[2021-08-18 19:43] mbrock321 opened #89 ""Copy or Move..." Stack dialogue should remember previous settings as the default"
**Is your feature request related to a problem? Please describe.**
Moving multiple stacks to the same destination, I find it slow to have to change the options "Select Action Type", "Select Destination Project" & "Position" for every stack individually, when I want the same options for each one.

**Describe the solution you'd like**
"Copy or Move..." Stack command should remember the previously us

[2021-08-28 07:22] jrsilvey commented on #83
I removed the snap installation afterwards. I just tried the AppImage and it works.

I still suggest following up on the snap version though. It makes a huge impact on people's first impression.

The contact portion of stacks is the coolest to me. If you could get me access to a Pro version I would test and give feedback to you.

I'm on vacation until next Thursday. I'll be back fully after that

[2021-08-30 07:20] pidgeon777 commented on #52
I think yes, but this idea could be kept in mind for the future.

[2021-09-01 16:24] mbrock321 opened #91 "Option for action as date approaches"
I'd like to be able to automatically move a task to a different stack when the 'start date' or 'due date' approaches.

**Describe the solution you'd like**
When setting a start/due date, you would have an option to add an action, such as 'x' days before date, move task to stack 'x' and set priority to 'high'.  Would be good if it was possible to set more than one action, so you might do one thing

[2021-10-01 13:11] JohnAJansen opened #92 "Projectnames invisible and people-lists not available"
Dear support,

We are using Stacks for a few weeks now, but encountered an issue (after de last update, version 1.5.0.....?). See screenshot below - the names of the projects is invisible, and the people-lists are gone. I do not know whether this is a general issue with the new version, or specific for us, but I wanted to let you know.

![Issue Stacks](https://user-images.githubusercontent.com/655

[2021-10-01 13:14] synapse commented on #92
Hey, @JohnAJansen could you jump into a quick chat via our website or even better our Slack channel?

[2021-10-01 20:59] #92 closed

[2021-10-08 19:16] yazeed commented on #85
@synapse All I did was update to the new version, upon restart of the application, Stacks showed me a completely fresh layout with my old content / boards nowhere to be found. I'll join up on Slack.

[2021-10-09 08:30] synapse commented on #85
@yazeed have you tried adding a new local workspace pointing to the folder where your data is located?

[2021-10-10 15:15] synapse commented on #74
Hey @ushu as of now you can export a project in CSV format. Will look into adding a print option as well

[2021-10-11 00:20] ElMuggs opened #93 "Unable to update/change Title on Tasks created post-update 1.5.2 - Need Force Reload to see changes"
**Describe the bug**
Today when creating new tasks you can only set the title on creating them. If you double click the task to add the title it updates at the top but on exiting the title doesn't change in the stack.  The only way to get the stack to update is to 'Force Reload' Stacks.

In testing this appears to only happen with tasks created after updating from 1.5.0 - editing a existing task c

[2021-10-11 02:06] ElMuggs opened #94 "Intermittent bug - unable to click on Month dropdown when setting Dates"
**Describe the bug**
When setting dates the 'month' dropdown intermittently fails to recognize the mouse - it's about a 50/50 to 30/70 in frequency.
Hovering over shows the mouse pointer vs click option. This is resolved by clicking 'all day' at the bottom of the window at which point the month dropdown works as expected. - it can also sometimes be fixed by selecting a date or the year first.

**T

[2021-10-29 19:37] chriscatalino opened #95 "Automation for repeating tasks within Stack"
**Is your feature request related to a problem? Please describe.**
For project tasks that need to be done weekly, monthly, etc., it would be helpful to automatically create the task X days/hours before it is due.

**Describe the solution you'd like**
Multiple implementation can be envisioned:
1. Create task, mark as repeating with X occurrence interval, set time prior to due date for task to be cr

[2021-10-29 19:42] synapse commented on #95
Hey @chriscatalino this feature will be available in the next version 1.6. You can already check it out in the 1.6.0 beta 1 and leave a feedback in our Slack channel

[2021-10-29 19:50] chriscatalino commented on #95
Giving it a test. Thanks!

[2021-11-07 19:31] mbrock321 opened #96 "In archive "Copy as new to" and "Unarchive options unavailable if original Stack has been deleted."
**Describe the bug**
Once a task has been archived, if the original stack it came from is deleted, it is not possible to move the task back out of the archive.  The drog-down lists for both "Copy as new to" and "Unarchive to" are empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Archive a task
2. delete the stack it was archived from
3. Go to the archives for that project
4. right-click

[2021-11-07 19:42] mbrock321 opened #97 "Search fails if a task title has more than 1 line"
**Describe the bug**
When searching for a single word, search will fail to locate tasks that include that word in their title if the title has more than one line

**To Reproduce**
Steps to reproduce the behavior:
1. Create a task
2. Enter a title
3. Create a newline in the title (e.g. by typing cmd-enter, option-enter, ctl-enter)
4. Enter a second line for the title.
5. Search for any word in the

[2021-11-07 19:57] mbrock321 opened #98 "Copy/Move dialogue should remember previous settings"
**Is your feature request related to a problem? Please describe.**
I frequently want to move several tasks or stacks one after the other, and often am moving or copying multiple items to the same destination.  But every time the "Copy or Move..." dialogue opens up it has the same default values selected, and I have to make the same changes to the options for each item I want to copy/move, which be

[2021-11-07 20:00] #98 closed

[2021-11-07 20:00] mbrock321 commented on #98
Whoops -- see I already made this request

[2021-11-07 20:01] mbrock321 commented on #89
A second, related, feature request would be to be able to use the copy/move dialogues on multiple tasks or stacks in one operation, instead of having to do them one-by-one.

[2021-11-08 09:38] synapse commented on #96
Hey @mbrock321 after deleting the Stack, do you still have any other Stacks available? The menu appears empty since it's reading from the currently available columns

[2021-11-08 17:03] mbrock321 commented on #96
Yes - I still have 20+ other stacks available.

--M

On 2021-11-08 1:38 AM, Synapse wrote:

--
_________________________________
Michael Brockington, film editor
604-418-7437
www.minusblue.ca
.oO=Oo.

[2021-11-08 17:07] mbrock321 commented on #96
Whoops -- I see what you mean.  I had lots of stacks in other projects,
but none in the the project where I was trying to move stuff out of the
archive.

So user error -- please close the issue.

Cheers,

--M

On 2021-11-08 9:03 AM, Michael Brockington wrote:

--
_________________________________
Michael Brockington, film editor
604-418-7437
www.minusblue.ca
.oO=Oo.

[2021-11-08 17:08] #96 closed

[2021-11-09 08:27] synapse commented on #97
Hey @mbrock321 this should be fixed in the latest beta version [here](https://github.com/stacks-task-manager/stacks/releases/tag/v1.6.0-b5) available soon in the next public release

[2021-11-09 08:29] synapse commented on #89
Hey @mbrock321 I've added a new `Keep options` checkbox in the Copy/Move wizard windows. Can you test it out in the current beta [here](https://github.com/stacks-task-manager/stacks/releases/tag/v1.6.0-b5)?
NB.: the option will stick while the next copy/move is of the same type as the previous (meaning if you while you copy/move task it'll stick otherwise will revert to defaults - and so on)

[2021-11-13 08:12] mbrock321 opened #100 "Separate search for Archives vs Active Tasks"
**Is your feature request related to a problem? Please describe.**

90% of the time when searching I am interested in my active (un-archived) tasks, and search results from the Archives just clutters up my results and makes it harder to find what I'm looking for.  The other 10% of the time I want to include the Archives in my search, or perhaps just search the Archives without searching the active

[2021-11-13 08:35] synapse commented on #100
@mbrock321  Would it be ok to have an option in the preferences to switch back and forth between searching in the archives or active tasks?

[2021-11-13 18:55] mbrock321 commented on #100
Sure, that ought to do the trick.  It might be useful to have 3 options -- search Actives-only, Archives-only, or Both -- which would preserve the current functionality if there are those that prefer it as is.

[2021-11-15 08:24] #65 closed

[2021-11-22 14:07] synapse commented on #100
Hey @mbrock321 this option was added starting from [V1.6.0 Beta 9](https://github.com/stacks-task-manager/stacks/releases/tag/v1.6.0-b9). Check out the new Search section in the General Preferences tab

[2021-11-24 02:42] greenmonarch opened #101 "Stacks deletes all the content in a notebook"
**Describe the bug**
When trying to open a notebook stacks will freeze for a few seconds, clicking off the notebook and reopening will wipe all the content that was previously there.

Happened once with a notebook that only had a table and another time in a notebook with lists and headings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'any notebook'
2. Click on 'edit'
3. Stacks free

[2021-11-24 14:39] synapse commented on #101
Hey @greenmonarch this issue should be fixed in the latest [version 1.5.7](https://github.com/stacks-task-manager/stacks/releases/tag/v1.5.7). Let me know if you still encounter it after an update

[2021-11-24 15:44] greenmonarch commented on #101
Thanks @synapse ! I just updated a few minutes ago so I will keep you posted if the issue reappears.

[2021-11-27 17:16] greenmonarch commented on #101
3 days in and no issues so far! 🥳 Thanks again for the speedy update @synapse

[2021-12-02 18:56] mbrock321 commented on #100
Hi @synapse -- I had a quick look at this feature in 1.6.0.  The way it is set up with the checkboxes in the preferences makes sense to me, but I don't find the search is working as expected.

If just the "Active tasks" checkbox is on, it finds matches in both my active tasks and archives.

If just the "Archived tasks" checkbox is on, it doesn't find matches in the archives or anywhere else.

(And

[2021-12-02 19:01] synapse commented on #100
Hey @mbrock321 yes for some reason the updated version does not search any more. I'm already looking into it and will do another hot-fix release first thing tomorrow

[2021-12-03 09:10] #95 closed

[2021-12-03 10:52] synapse commented on #100
@mbrock321 this should be fixed in 1.6.1, can you confirm that it's working?

[2021-12-03 11:03] synapse commented on #97
Hey @mbrock321 this should also be fixed as of 1.6

[2021-12-03 18:05] mbrock321 commented on #100
@synapse -- Searching gives some results when I start up with 1.6.1, which is good, but as for the other search issue, the problem has just been inverted.

Now, if only the "Archived tasks" checkbox is selected, it finds matches in both active tasks and archives.
If only the "Active tasks" checkbox is selected, it doesn't find matches in the active tasks or anywhere else.

[2021-12-03 18:07] mbrock321 commented on #97
Thank-you, yes -- seems to be fixed when I test it.

[2021-12-06 15:53] synapse commented on #100
Should be fine in 1.6.2 @mbrock321

[2021-12-06 15:53] #97 closed

[2021-12-06 18:47] mbrock321 commented on #100
I've only tested with archives/actives, since those are what I principally use, and they seem to be working well.
Thanks @synapse -- this will be a very helpful improvement for me...

[2021-12-06 23:33] sergeevabc opened #102 "Glyphs are missing"
Windows 7, Stacks 1.6.2

![1638833482](https://user-images.githubusercontent.com/373718/144939345-1d5d694f-ac65-40f2-8f12-6af3e3444ed2.png)

[2021-12-09 07:55] mbrock321 commented on #100
@synapse -- now that you have a structure in place for constraining the search targets, would it be possible to add searching the text inside tasks as an option?

That would be amazing!  Right now, I think you can only search on task title text.

[2021-12-11 15:29] deselect opened #103 "Switching the notepads in the left pane discards unsaved data"
When I switch between notepads leaving data unsaved Stacks simply discards the data with no message.
I know that data is automatically saved periodically but I think it should ask for a confirmation.

To reproduce:

1. Create notepad number 1 and save something there.
2. Create notepad number 2 and quickly type some words.
3. Switch to first notepad.
4. Return to second notepad and you will not se

[2021-12-16 22:02] synapse commented on #102
Windows 7 was born before emojis were invented 😂

[2021-12-29 23:49] mbrock321 opened #104 "Copy/Move - doesn't remember Destination Stack correctly"
**Describe the bug**
When using Copy/Move task command, with the option to "Keep selected options", most of the selected options are remembered correctly when the command is next used, but the "Destination Stack" appears to always get reset to the first stack in the Project where the last task was moved.

**To Reproduce**
Steps to reproduce the behavior:
1. Right-click on Task, select "Copy or Mov

[2021-12-29 23:57] mbrock321 opened #105 "when Archiving a task, remember the stack it came from, and have that be the default for unarchiving operation"
**Is your feature request related to a problem? Please describe.**

Process of unarchiving tasks would take a lot fewer brain cycles if it was quick to put the task back in the stack it was in when it was archived.  Particularly helpful if the project has a lot of tasks to choose from, and you're trying to remember where an unarchived task should belong.

**Describe the solution you'd like**
When

[2022-01-03 15:51] user8446 opened #106 "When deleting a folder, the document tree for it doesn't delete"
Hi,

When deleting a folder, the document tree for it doesn't delete.

To reproduce:
1. Delete a folder
2. Import new
3. The new will be merged into the deleted non-existent documents from the deleted folder

Expected behavior:
1. The new should have a new clean document tree

Stacks v1.7.0

Thank you

[2022-01-03 23:55] xxddpp opened #107 "Two colons given twice in task title give green highlight"
I use Stacks 1.7.0 and Windows 10 x64.

When I create a task and use two double colons in the task name (for example "Fix URL in HTTP::Get and HTTP::Post"), I get substring located between double colons ("Get and HTTP") highlighted in green and not displayed "as is". Double colons are also omitted.

[2022-01-04 14:15] synapse commented on #102
Hey, @sergeevabc are you seeing the glyphs correctly after v1.7.0?

[2022-01-04 14:16] synapse commented on #94
@ElMuggs this issue should be fixed using the latest version, can you confirm?

[2022-01-08 10:18] synapse commented on #107
Hey @xxddpp yes, the is because the task are by default using markdown for the text rendering, which in this case the `::text::` is used to highlight a text. It also accepts more colors like `:color:text:: -> you can see a small cheatsheet from the `View` menu. You can globally turn off md syntax from the Preferences -> Projects tab -> Tasks section

[2022-01-08 14:56] sergeevabc commented on #102
No, alas.

![1641653789](https://user-images.githubusercontent.com/373718/148648901-e7f70ca4-1ea8-4a88-b9e9-1a062eb68d7a.png)

[2022-01-08 20:04] xxddpp commented on #107
I don't want to turn markdown syntax globally because I use it sometimes. Maybe it will be better to implement backticks (`) in markdown syntax? It is the common markdown feature for the code - the text between two backticks is displayed as is in monospace font.

[2022-01-10 07:23] synapse commented on #107
@xxddpp  Fixed it, will be available in 1.7.2

[2022-01-10 07:57] synapse commented on #104
@mbrock321 fixed, available in 1.7.2

[2022-01-10 13:21] synapse commented on #106
@user8446 fixed and available in 1.7.2

[2022-01-10 14:09] user8446 commented on #106
Thank you for the fix!

[2022-01-10 14:09] #106 closed

[2022-01-12 17:44] Kernow66 opened #108 "Hi, is it possible to make the website address in 'Contacts' a hyperlink to the actual website?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-01-16 18:12] ikrz opened #109 "Print for Notepad"
Love the app, great work, purchased license.
Would be nice to have Print option on Notebook, or save as PDF.

[2022-01-17 00:24] ElMuggs commented on #94
Thank you, I haven't had a chance to confirm as it was only ever
intermittant but it looks good so far! -  I'll repost if the bug occurs
again

Thank you :)

On Wed, 5 Jan 2022 at 01:16, Synapse ***@***.***> wrote:

[2022-01-19 08:53] #94 closed

[2022-01-19 08:54] synapse commented on #80
hi @crnkyunicorn what do you mean by creating pages inside the Notepad?

[2022-01-20 03:29] nvelcea opened #110 "Notepad Autosave Feature Moves Cursor to Top of Document"
With notepad autosave set to a certain interval, the cursor automatically gets moved to the top once typing stops. This is particularly frustrating with Immediate autosave.

[2022-01-20 12:10] synapse commented on #110
Hi @nvelcea, should be fixed in [v1.7.4](https://stacks.rocks/updates/#version-1.7.4)

[2022-01-20 12:10] synapse commented on #108
Hi @Kernow66 should be fixed in [v1.7.4](https://stacks.rocks/updates/#version-1.7.4)

[2022-01-20 17:13] Kernow66 commented on #108
Wow that was quick! Thank you.

[2022-01-20 17:18] #108 closed

[2022-01-21 09:45] ikrz opened #111 "Move or Copy to "Welcome to Stacks""
**Describe the bug**
I have deleted "Welcome to Stacks" and created own project. If I click on any task and select Move or Copy, in the list of destination Projects appears "Welcome to Stacks". Selecting this project doe nothing when you press move or copy. Seems like a glitch.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any task
2. Right click on Task
3. Select "Copy or Move..."
4

[2022-01-24 21:37] mbrock321 commented on #104
Just gave this a quick test, and it seems to work as expected now -- thanks for the fix!

[2022-01-24 21:38] #104 closed

[2022-02-04 06:29] Aamir2000 commented on #38
Sure, anything is great for such a good product 🙂 thanks for considering

[2022-03-24 09:31] #110 closed

[2022-03-24 09:32] #107 closed

[2022-03-28 02:51] vicryt8 opened #112 "Ability to filter tasks"
**Describe the solution you'd like**
Filter options for tasks:
- Board View: Filter by tags, assignee, priority
- List View: Filter by tags, assignee, priority
- Table View: Filter by assignee
- Calendar View: Filter by tags, assignee, priority
- Dashboard View: Filter by tags, assignee, priority

[2022-03-28 15:28] T1mMc opened #113 "Workspace Statuses: Editing Tag Color"
Changing the color of an existing Workspace Status Tag does not update the tag color.    This does work if you change the color of a Project Status Tag.

**To Reproduce**
Steps to reproduce the behavior:
1.  Click on Project Preferences
2.  Click on Statuses
3. Select an existing Tag under Workspace Statuses
4.  Change the color
5.  Select the Checkmark to save
6.  Note the color of the tag has no

[2022-03-28 17:11] synapse commented on #112
Hey @vicryt8 have you tried the Project filters which you can find on the bottom right corner in the latest version?

[2022-03-28 17:15] synapse commented on #113
Hey @T1mMc which version are you using? Seems to be working on the latest version 1.8.2
![2022-03-28 19 13 20](https://user-images.githubusercontent.com/71137/160451955-69d627e5-84c8-4939-ab3e-a82ecd766ea9.gif)

[2022-03-29 06:18] synapse commented on #113
@T1mMc found the bug, it is on the global Statuses

[2022-03-29 17:29] T1mMc commented on #113
I was on the latest.   I am glad you were able to locate it.   thanks for your time!

[2022-03-29 17:29] #113 closed

[2022-04-01 06:20] #111 closed

[2022-04-05 12:01] HobbesKo opened #114 "Code Block not Displaying Coloured Tokens"
**Describe the bug**
When editing a code block (in a notepad), the tokens are coloured. However, when viewing the code block, the text is essentially black text on a white background.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit a code block in a notepad
2. Click Save or Close
3. The code block no longer shows coloured tokens

**Expected behavior**
Coloured tokens should be displayed

[2022-04-26 03:57] crnkyunicorn commented on #80
Each notepad can only have a single page.  Which can get very long.  It would be good to have pages in each notepad.  In my case I have a single kanban and then a notepad per team that I work with to collect further notes.  I have looked at using folders, but then I end up with a significant amount of notepads, which can be hard to manage.  So It would be a nice to have pages (with a created date)

[2022-04-26 04:05] crnkyunicorn opened #115 "Integration API/SDK"
**Is your feature request related to a problem? Please describe.**
I use multiple tools to manage my workload, some of which I am unable to change.  This leads to some level of double entry.

**Describe the solution you'd like**
It would be great to see a way of integrating other products into Stacks.  At the very least, a way of creating a task using an SDK/Command Line.

**Describe alternatives

[2022-04-26 04:07] crnkyunicorn opened #116 "Create board task from notepad"
**Is your feature request related to a problem? Please describe.**
When taking notes, I often use the tick box list to create action points from a meeting/research, I then have to move these to a kanban afterwards

**Describe the solution you'd like**
I'd love to see some integration between the two.  So if I create a task list, it is automatically sent to a board and synchronised.  (It will get t

[2022-05-12 06:36] ikrz opened #117 "Color picker filld R with NaN"
When setting color for example for Tag, and color picker is used, the Red number would be NaN

[2022-05-12 06:39] #112 closed

[2022-05-12 06:41] synapse commented on #117
Hey @ikrz could you explain the exact steps to reproduce this error?

[2022-05-16 00:10] Saadchr opened #118 "Sync with apple reminder"
**Is your feature request related to a problem? Please describe.**
I'm frustrated when I can't add a reminder

**Describe the solution you'd like**
A sync with apple Reminder

[2022-06-03 14:28] Robert2127 opened #119 "Export Functionality"
Hi,
I'm very new to Stacks as I just downloaded it last week and I've been playing around with it some.  I've not yet purchased the Pro version as I need one more piece of functionality that may be included, but which I've not found yet.

As a middle-manager, I have employees who are working on projects for me for which I need to track the project progress and it seems this application will work f

[2022-06-03 20:22] Robert2127 commented on #119
Thanks!

[2022-06-04 14:45] synapse commented on #119
@Robert2127 you can check it out in the current [beta version](https://github.com/stacks-task-manager/stacks/releases/tag/v1.9.0-b12)

[2022-06-05 01:35] mbrock321 opened #120 "Please have the new "filter" function also work in archive view"
The new filter function seems to work well.

It works in Board, List and Table view, but for some reason, doesn't affect Archive view.

It would be great if it worked in Archive view as well.

Thank-you.

[2022-06-05 01:45] mbrock321 opened #121 "Cannot delete a task from the Archive"
**Describe the bug**
Not possible to delete a task in Archive view.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Archive View
2. Click on a task
3. Use keyboard command (Mac) cmd-backspace to delete.
4. Dialogue pops up "Are you sure you want to delete this task? ... Yes/No"
5. Click on "Yes"
6. Nothing changes

**Expected behavior**
the selected task should be deleted.

**Deskt

[2022-06-06 15:35] ikrz opened #122 "Stack automation removes all tags from task"
**Describe the bug**
Stack automation clears all tags and set selected tag, even when clear tags is not selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Stack and select "Manage Automation..."
2. In Move tab select "Newly added"
3. In Tags tab are two options, either add tags or select "Clear all tags". It is evident from instruction, that you have to choose one of these two op

[2022-06-06 15:46] ikrz commented on #117
1. Open tags settings in any way, like selection options icon in upper right corner
2. Click on Add Tag or select a tag
3. click on color square, a color editor opens
4. click on color picker icon, mouse pointer turns int o color selection tool
5. click on color pixel on screen
6. RGB values are filled, only that R is NAN, H becomes NAN, S and L becomes NAN%, HEX becomes #NANxxxx ,where x are some

[2022-06-06 15:55] synapse commented on #117
@ikrz on what OS are you experiencing this issue?

[2022-06-07 20:33] #8 closed

[2022-06-13 22:35] IgorDzreyev opened #123 "Release 1.9.0. Both .deb and .AppImage"
After installing (or running an image) 1.9.0 on Mint Linux 20.3 I've got:

% ./Stacks-Linux-1.9.0.AppImage
A JavaScript error occurred in the main process
Uncaught Exception:
Error: Cannot find module '/tmp/.mount_Stacks6jbjxu/resources/app.asar/node_modules/sqlite3/lib/binding/napi-v6-linux-glibc-x64/node_sqlite3.node'
Require stack:
- /tmp/.mount_Stacks6jbjxu/resources/app.asar/node_modules/sqli

[2022-06-14 06:45] ikrz opened #124 "Stacks 1.9.0 not starting"
**Describe the bug**
Yesterday Stacks worked fine, today after fresh computer start it does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Stacks icon
2. Nothing happens

**Expected behavior**
Should start the app

**Desktop (please complete the following information):**
 - OS: Ubuntu 21.10
 - Browser Firefox 101.0 (64-bit)
 - Version Not sure, I have a suspicion it did s

[2022-06-14 06:47] ikrz commented on #124
snap:
stacks-task-manager  1.8.3                       67     latest/stable    stackstaskmanager  disabled
stacks-task-manager  1.9.0                       68     latest/stable    stackstaskmanager  -

[2022-06-14 06:50] ikrz commented on #124
Found a workaround:
$ sudo snap revert stacks-task-manager
stacks-task-manager reverted to 1.8.3

Reverted to version 1.8.3 and Stacks works fine now.
Looks like Stacks version 1.9.0 gives problems.

[2022-06-14 06:59] synapse commented on #124
On it, thanks @ikrz

[2022-06-14 18:12] synapse commented on #124
@ikrz should be fixed in [v1.9.1](https://github.com/stacks-task-manager/stacks/releases/tag/v1.9.1)

[2022-06-14 18:13] synapse commented on #123
hey @IgorDzreyev this should be fixed in [v1.9.1](https://github.com/stacks-task-manager/stacks/releases/tag/v1.9.1)

[2022-06-14 18:13] synapse commented on #122
Fixed in [v1.9.1](https://github.com/stacks-task-manager/stacks/releases/tag/v1.9.1)

[2022-06-14 18:13] #122 closed

[2022-06-14 18:13] synapse commented on #121
Fixed in [v1.9.1](https://github.com/stacks-task-manager/stacks/releases/tag/v1.9.1)

[2022-06-14 18:13] #121 closed

[2022-06-14 18:14] #119 closed

[2022-06-14 18:15] synapse commented on #100
Fixed in [v1.9.1](https://github.com/stacks-task-manager/stacks/releases/tag/v1.9.1)
Since 1.9.0 search also works in task description

[2022-06-14 18:15] #100 closed

[2022-06-14 20:01] IgorDzreyev commented on #123
Hi. Yes, 1.9.1 starts perfectly fine! Thanks a lot!

[2022-06-15 08:03] #123 closed

[2022-06-18 18:07] mbrock321 opened #125 "Mouse clicks sluggish to execute, get out of order with keyboard commands"
**Describe the bug**
I have noticed that it takes significantly longer for Stacks to respond to a mouse click, after upgrading from 1.8.2 to 1.9.1 -- to the point where a subsequent keyboard command will be executed before the preceding mouse click is acted on.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on a task that is not currently selected
2. hit spacebar to toggle completion

[2022-06-18 18:23] mbrock321 opened #126 "1.9.1 Clicking on top of a stack no longer selects the stack"
**Describe the bug**
When clicking on the grey area near the title at the top of a stack, the stack is no longer selected.

**To Reproduce**
Steps to reproduce the behavior:
1.click on a stack in the grey area beside the title
2. The stack does not become highlighted and is not selected for e.g. keyboard commands.

**Expected behavior**
The stack should become highlighted and be the target for key

[2022-06-18 18:59] mbrock321 opened #127 "After upgrade, existing text in "Description" has unwanted html-style markup tags"
**Describe the bug**
after upgrading from 1.8.2 to 1.9.1
When opening a task that already had a description, and editing the description, the old text is cluttered with a bunch of what look like html tags, e.g. <p>, </p> etc.

New text that is enetered in the description field doesn't have these tabs, either when first entered, or when subsequently re-editing the description.

**To Reproduce**
Ste

[2022-06-18 19:55] synapse commented on #127
Hey, @mbrock321 this is not a bug, but an unfortunate side-effect of switching to a markdown editor.
The text render should not be affected but the users will have to clean the description (at least until I found a clean way to convert current HTML to markdown)

[2022-06-18 20:19] synapse commented on #125
This was intended to prevent task selection when the user wants to open the task instead of selecting it. The selection is delayed by 200ms for this reason.
If this becomes an issue and makes the app feel sluggish it will be removed in next version

[2022-06-18 20:20] synapse commented on #126
It was removed due to the fact that it hasn't had any important usage, will be readded in next version

[2022-06-18 20:20] #124 closed

[2022-06-19 18:48] mbrock321 commented on #127
OK, thanks for the info.  I'd like to know if you come up with a clean conversion process.

I was experimenting with running something like this on the .project files:

   sed -e 's/<[^a>/!][^ >][^>]*>//g;s/<\/[^a>][^>]*>//g' | sed -e 's/<p>//g' | sed -e 's/&nbsp;/ /g'

and the results seemed reasonable, but I don't have enough confidence in it to commit to it.

The first 'sed' command strips most

[2022-06-19 18:55] mbrock321 commented on #125
With this delay, I find that about half the time, when trying to mark a task as done, I wind up toggling the wrong task.  Then have to untoggle the wrongly selected one, click on the right one, wait, then toggle it.  Pretty frustrating.

I don't think I understand what purpose the delay is trying to achieve.  If I have one task selected and I double-click on a different task to open it, when I exi

[2022-06-19 19:01] mbrock321 commented on #126
I typically select the stack in this way when I want to collapse or expand it using the keyboard shortcuts.

I see it's possible to click on a task, and those expand/collapse keys are still active, so I suppose I can do that as an alternative.  But it seems like inconsistent UI design not to be able to click on a stack to select it, when I'm trying to use a command that operates on the stack, and

[2022-06-19 23:15] DAmNRelentless opened #128 "actual markdown support"
Good job on this project, I really like it. This is just a feature request and a suggestion. If it sounds harsh, it might be due to a language barrier. Sorry in advance.

**Is your feature request related to a problem? Please describe.**
Might be related to https://github.com/stacks-task-manager/stacks/issues/38 but for notepads.

There are some places where markdown is not fully supported or not

[2022-06-21 06:40] synapse commented on #127
Hey @mbrock321, something like this should work quite well

[code]

[2022-06-21 13:17] synapse commented on #128
@DAmNRelentless should be added in [1.9.2](https://github.com/stacks-task-manager/stacks/releases/tag/v1.9.2)

[2022-06-21 13:17] synapse commented on #125
@mbrock321 should be fixed in [1.9.2](https://github.com/stacks-task-manager/stacks/releases/tag/v1.9.2)

[2022-06-21 16:47] mbrock321 commented on #127
Thanks, @synapse.  I'm not quite sure what language that is, or how to run it!

Would it leave HREF links intact, or strip them out as well?   e.g. I wouldn't want to lose the quoted link from the following text:
   <a href="https://www.w3.org/">W3C organization website</a>

[2022-06-21 20:25] DAmNRelentless opened #129 "tag and status issues"
**Describe the bug**
If I open a project board, go to the project settings and to the `Tags` or `Statuses` sub-menu, I can't delete any of them.
It asks me if I am sure to delete them and it doesn't matter if I press Yes or No, nothing will happen. Oddly enough, if I add new Workspace Tags, they will be listed as Project Tags as well and I can't delete those either.
I can also create duplicate tag

[2022-06-21 22:31] loikawhaticando opened #130 "Workspace Statuses Are Added to Project"
**Workspace Statuses Are Added to Project**

When adding a workspace status via the project settings, the "add tag" button results in a status added to the _project_, not the workspace.

**To Reproduce**
1. Go to project settings
2. Open Statuses
3. Click "Add tag" button in Workspace Statues"
4. Choose a color, tag name, and click the add button.

**Expected behavior**
The new tag is added to wor

[2022-06-21 22:34] loikawhaticando commented on #130
I'm unable to delete the extra project statuses that I created when trying to add workspace statuses.

Tags have the exact same issue described here. I previously created/edited them successfully so this appears to be a regression in the new version.

[2022-06-21 22:36] loikawhaticando commented on #130
This appears to be a dupe of #129

[2022-06-22 12:22] synapse commented on #127
Hey, @mbrock321 it's JavaScript, and I am sure it will remove all tags from a string including links. I would recommend cleaning out the text, only when necessary

[2022-06-23 05:58] mbrock321 opened #131 "Links to websites and local files no longer open after upgrade to 1.9.x"
**Describe the bug**
Previously it was possible to include a link in the form
   file:///Volumes/<diskname>/<pathname>/<filename>
and clicking on this link would open the local file.

This no longer seems to work.

Even a simple link like this
`   [https://www.google.com](url)`
doesn't seem to be clickable.

Does this still work?

**Desktop (please complete the following information):**
OSX 10.14.

[2022-06-23 06:40] mbrock321 commented on #126
This works to select a stack, but now the arrow keys no longer work to move from task to task or between stacks.

[2022-06-23 06:54] mbrock321 commented on #131
A couple more notes:

In 1.9.3, the new markedown syntax doesn't seem to work as noted above, but the old link synax does, so the following text in a description will still jump to the web-page:

`
<a href="https://www.google.com/">Google Search</a>`

However
   `
<a href="file:///Volumes/path-to-local-file">Local File</a>`

doesn't seem to work to access a local file.

[2022-06-23 16:10] synapse commented on #131
@mbrock321 unfortunately the markdown parser rejects any other protocol than `http`. To fix this I've added a new format for adding links to local files including a new button in the editor toolbar which helps you link to a file quicker then writing it by hand

This `file:///path/to/file`  becomes `</!/path/to/file>`

[2022-06-23 16:11] synapse commented on #128
The notepad is not a markdown editor, thus it has some limited md interpreting options. We're planning to change this WYSIWYG editor to a full markdown one

[2022-06-23 16:12] synapse commented on #126
Fixed in version [1.9.4](https://github.com/stacks-task-manager/stacks/releases/tag/v1.9.4)

[2022-06-23 16:12] #125 closed

[2022-06-23 17:25] mbrock321 commented on #131
Hmm, I'm trying to get that to work, following the MArkdown Cheatsheet guidelines, but it doesn't seem to be working.

In the following, the web link works, but the file link doesn't:

`[This is a document link](</!/Volumes/MacHD1-Media/testlink/test1.rtf>)

[Google Search](https://www.google.com)`

Can you tell me if the format of the file link looks correct?

[2022-06-23 17:55] DAmNRelentless commented on #128
That would be lovely!

[2022-06-23 18:15] mbrock321 commented on #131
Oh -- I see, this functionality was newly added in version 1.9.4 -- tested there, and it works.  Thanks for the quick fix!

[2022-06-24 07:28] #131 closed

[2022-06-24 07:28] synapse commented on #128
I'm gonna close this one out until then

[2022-06-24 07:28] #128 closed

[2022-06-24 07:28] #130 closed

[2022-06-24 07:29] #129 closed

[2022-06-24 10:10] DAmNRelentless commented on #129
What about the other mentioned points? Should I create separate issues for those?

[2022-06-24 12:20] synapse commented on #129
hey @DAmNRelentless no need, already on it

[2022-07-01 06:47] #126 closed

[2022-07-05 21:35] loikawhaticando opened #133 "Long Tag Name Overflow"
**Long Tag Name Overflow Description**
Very long tag names do not line break, truncate, or otherwise do the proper thing visually. They just overflow their UI element

**To Reproduce**
1. Create a very long tag name and assign it to a task.
2. Observe the places in the UI where the tag overflows its UI element. In task details the main body isn't a fixed width so the long tag name will "push" the

[2022-07-05 21:53] loikawhaticando opened #134 "Dashboard Doesn't Display Workspace Tags?"
**Dashboard Doesn't Display Workspace Tags?**
The dashboard doesn't display workspace tags, only project tags.

**To Reproduce**
1. Create a workspace tag, assign it to a task.
2. Open the dashboard for that project.

**Expected behavior**
The project AND workspace tags are displayed in the dashboard under Tags Overview.

**Desktop (please complete the following information):**
 - OS: Windows
 - B

[2022-07-19 17:55] posinautinc opened #135 "Urls with # not handled correctly"
**Describe the bug**
1. Urls with a hash (for in page bookmarking) entered into the description field are not handled correctly.
2. Example "https://www.alphavantage.co/documentation/#latestprice" gets converted to "https://www.alphavantage.co/documentation/<#Unknown>"

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new task
2. Edit the task and paste 'https://www.alphavantage.co/do

[2022-07-19 17:59] synapse commented on #134
Hey @loikawhaticando this should be fixed as of v1.9.8

[2022-07-19 17:59] synapse commented on #133
hey @loikawhaticando this should be fixed since v1.9.8

[2022-07-21 02:05] loikawhaticando commented on #133
Thanks!

[2022-07-21 02:05] #133 closed

[2022-07-21 02:06] loikawhaticando commented on #134
Thanks!

[2022-07-21 02:06] #134 closed

[2022-07-22 06:44] g0nz4rth opened #136 "Native OS Title Bar"
**Is your feature request related to a problem? Please describe.**
No, it's not.

**Describe the solution you'd like**
It would be great if we could use native OS title bars on Stacks. I use Elementary OS (ubuntu-based Linux distro) and Stacks looks like an alien application on my distro, with a title bar that differs from all of my other apps.

**Describe alternatives you've considered**
I haven'

[2022-07-27 05:53] Saltomar opened #137 "Stacks Reveal Current Workspace Bug"
Clicking on:

1. Click on Top left menu icon
2. Click on 'Workspaces'
3. Click on 'Reveal Current Workspace'

...result in a loop that opens hundreds of the same folders and crashes windows in that way.

Not sure if someone has the same problem. Using (still) free version of Stacks under Windows 10 Pro.

System:

Windows 10 Pro with latest updates.

Cheers.

[2022-07-27 09:25] Saltomar opened #138 "The view size after zooming in doesn't get remembered after the application restart"
Hello,

The view size after zooming in doesn't get remembered after the application restart.
Plus, the resizing scale isn't a proportionate. Sometimes it resizes more, sometimes less.

1. Click on left-top menu
2. Click on 'View >> Zoom in'
3. Restart the Stacks application

Using Stacks on Windows 10 Pro with the latest updates.

Cheers.

[2022-07-28 11:26] synapse commented on #137
Hey @Saltomar usually Windows is opening Explorer and keeps it minimized on the bottom bar which may look like nothing happens. Could be that wha you're experiencing? Could you maybe upload a quick video capture?

Thanks

[2022-07-28 13:07] synapse commented on #138
@Saltomar fixed in v1.9.9

[2022-07-28 13:08] synapse commented on #136
@g0nz4rth fixed in v1.9.9

[2022-07-28 13:08] #136 closed

[2022-07-28 13:08] synapse commented on #135
@posinautinc fixed in v1.9.9

[2022-07-28 13:08] #135 closed

[2022-07-28 13:29] user8446 opened #139 "[BUG] "#" in a Trello card title appears as "#Unknown" in stacks"
**To Reproduce**
1. Create a card title in Trello such as "Unit #A"
2. Import in Stacks
3. Card title appears as Unit #Unknown"

**Expected behavior**
Title cards are the same as written

**Desktop (please complete the following information):**
- Stacks v1.9.9
 - OS: Windows10
 - Browser: Firefox

Card in Trello:
![Screenshot 2022-07-28 092248](https://user-images.githubusercontent.com/18019245/18

[2022-07-28 13:59] user8446 commented on #139
Hi, that makes sense... thank you

[2022-07-29 00:40] Saltomar commented on #138
Where exactly? Can't find it in the menus.

Cheers.

[2022-07-29 00:52] Saltomar opened #140 "Option to activate the top right window icons for window control"
**Is your feature request related to a problem? Please describe.**
There's no top bar containing windows commands (Maximize, minimize, etc). It's kind of tedious to always need to right-click and chose the window command.

**Describe the solution you'd like**
Options to enable app window control icons to appear in the top right corner.

**Describe alternatives you've considered**
+ AND/OR key shor

[2022-07-29 01:15] Saltomar commented on #137
After upgrading to 1.9.9, the problem is gone.

Cheers,

[2022-07-29 01:39] Saltomar opened #141 "Full folder content duplicating -OR- Project templating"
**Is your feature request related to a problem? Please describe.**
I'm often working on micro projects which has the same task and setup structure. But, they tend to have 100+ tasks with several task groups each. Each project contains several notepads (notebooks) etc. It is very time-consuming (almoust impossible) to recreate them manually.

**Describe the solution you'd like**
Option to create a

[2022-07-29 01:55] Saltomar opened #142 "Task description pinned at the right side option in List View (Crtl 2)"
**Is your feature request related to a problem? Please describe.**
Maybe this is already possible, but since I'm still using the free Stacks version, I can't confirm this.

Simply, enable the selected task description to appear on the right side of the screen for a fast overview.

**Describe the solution you'd like**
Option to open the right window Task Description for a specific selected task wit

[2022-07-29 14:16] posinautinc commented on #135
Thank you for the quick fix @synapse.

[2022-07-29 15:05] synapse commented on #142
Hey @Saltomar as of now you can navigate the list view with your keyboard and hit `Enter` to open the Task Details dialog to view the details but there's no side panel to quickly view the task's info. This could be a good addition for 2.0 though 😉

[2022-07-29 19:20] #137 closed

[2022-07-30 12:44] Darthagnon commented on #140
"Native title bar" was supposed to be enabled in Stacks v1.9.9, but it doesn't work on Windows. There is no titlebar with window controls.

There doesn't seem to be a config option to re-enable the non-native window controls either.

[2022-07-30 16:18] user8446 commented on #139
I just noticed this is resolved in v1.9.10 , so I'm closing this. Thank you for the quick fix!

[2022-07-30 16:18] #139 closed

[2022-07-30 16:22] synapse commented on #138
It just works out of the box without any menu

[2022-07-30 23:02] Darthagnon commented on #140
@synapse solved in v1.9.10

[2022-07-31 00:54] Saltomar commented on #138
@synapse

I've updatet to the latest 1.9.10 version, but it still doesn't work properly. Pease check the screen cast of the issue:

https://screencast-o-matic.com/watch/c3iwcKVZUb8

Thanks.

[2022-07-31 00:57] Saltomar commented on #138
Actually, sometimes, if I minimize then restore the window with the window command icons, after restarting the application, then it works, but it still doesn't remember the exact resizing ratio.

[2022-07-31 01:17] Saltomar commented on #140
@synapse

Confirmed, thanks a lot! Case closed.

[2022-08-01 08:37] jstoili commented on #141
+1

[2022-08-01 08:38] jstoili commented on #62
+1

[2022-08-01 08:59] jstoili opened #143 "Implement custom app handlers"
**Is your feature request related to a problem? Please describe.**
I would like to the option to "link" to specific tasks and/or project from other applications, to a specific Stacks task/project.
For example, I may create a calendar event about something and I need to be able to add a reference to a Stacks task that has the context and the rest of the information.

**Describe the solution you'd l

[2022-08-01 09:16] Saltomar opened #144 "Web Clipper -OR- copied from source info tags annotation"
**Is your feature request related to a problem? Please describe.**
When copying and pasting from a website into Stacks Notepad, it should automatically add a line with a source URL and date copied under the copied content.

Same as *neNote is doing. Check the attached image.

Cheers.
![atn](https://user-images.githubusercontent.com/110083957/182115828-5a67a25a-3634-4235-836e-fb466d6d1786.png)

[2022-08-01 09:26] Saltomar opened #145 "Draw.io or Escalidraw Flowchart integration for the Notepad"
**Is your feature request related to a problem? Please describe.**
In order to fully replace other Notepad tools with Stacks, one primary feature that is missing is the ability to create a Flowcharts 'in-house'.

**Describe the solution you'd like**
Either Drawio or Escalidraw, as they both have open source connections. With them, I can easly create advaned Flowcharts in a minute. Especial Escalid

[2022-08-02 12:52] Saltomar commented on #143
+1

Don't want to hijack the thread, just want to add that it would also be good to link to Notepad(s), or part of the notepad info, so it is possible with *neNote. Crucial if one wants to build anything like Wiki pages with the Stacks built-in application resources.

[2022-08-02 12:59] #140 closed

[2022-08-13 11:13] cobbinaloic opened #146 "Quick Search function not working (ctrl+k)"
**Describe the bug**
The Quick search function (ctrl+k) can't find anything at all. It just keeps searching forever.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Quick Search box'
2.  'Type in the task you are searching for, knowing that you've already created that task'
3. The search is ongoing but nothing shows up as a result
4. Meanwhile, when you manually scroll down, you can s

[2022-08-13 19:21] Saltomar commented on #144
Bad idea?

[2022-08-13 19:30] synapse commented on #146
Hey @cobbinaloic have you tried rebuilding the search cache? There's a menu item under the Help section to do it.
Let me know if works afterwards?

[2022-08-13 20:02] cobbinaloic commented on #146
Yes I did  try rebuilding the search cache earlier on before even reporting
the issue. But just to be sure I decided to try it again a couple of times
and the problem persists.

On Sat, Aug 13, 2022 at 7:30 PM Synapse ***@***.***> wrote:

[2022-08-16 12:51] synapse commented on #144
@Saltomar this may require a custom OS based helper process to always run in the background

[2022-08-28 02:18] Vilriana opened #147 "Linux "Reveal Current Workspace" opens multiple Windows"
**Describe the bug**
The menu item "Reveal Current Workspace" opens endless windows until you close the program.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Stacks
2. Click on 'Workspaces' in the menu
3. Click on "Reveal Current Workspace" CTRL + O
4. See multiple opened windows with your workspace until you close the program

**Expected behavior**
Click "Reveal current Workspace" s

[2022-08-29 11:03] v-c0de opened #148 "Feature request: Date added and completed"
**Is your feature request related to a problem? Please describe.**
I use the date start and end dates to currently track when I add and complete tasks. Which shouldn't be the case.

**Describe the solution you'd like**
- Add date added, date completed fields. And be able to sort by these fields

**Describe alternatives you've considered**
Refer to problem statement

**Additional context**
Using fr

[2022-09-02 19:06] AmberHaelo opened #149 "Time Tracking uses a lot of CPU when task is open"
**Describe the bug**
If the task editing overlay is open while the time tracking feature is functional, two of the many `stacks-task-manager` processes start consuming a large amount of CPU (on my system, I've observed as much as 35% for each). This is not an issue if the task editing overlay is closed.

The problem *may* be made worse by the amount of content in the task editing view, but as it d

[2022-09-02 19:14] AmberHaelo commented on #147
Are you having problems with other shortcuts issuing double-actions as well? I came here to report that, but saw this and wonder if they are related. For example if I try to open preferences with `Ctrl+,` it immediately closes after opening, as if I pressed the shortcut twice. `Ctrl+B` to toggle the sidebar also doesn't work because it seems to fire off twice.

Other shortcuts seem to work, but it

[2022-09-02 20:41] AmberHaelo opened #150 "Keyboard shortcut cheat sheet for Linux appears incorrect"
**Describe the bug**
Not a bug precisely, but what appears to be incorrect documentation. The *Help ▸ Keyboard Shortcuts* cheatsheet contains shortcuts that do not work, and some that  are for the wrong operating system.

**List of problems:**
- *Toggle Fullscreen* is listed as `⌃+Ctrl+F` which doesn't make sense. If anything that would imply Ctrl+Ctrl+F. The actual shortcut (which works) is `F11`

[2022-09-03 10:33] AmberHaelo opened #151 "Tag text readability could be improved"
**Is your feature request related to a problem? Please describe.**
The text colour used to print tags is presently dependent upon the overall theme. If in dark mode the text is black, and if in light mode the text is white. The text does not react to the colour of the tag itself (the text's local background colour), and thus limits tag colour choices, even if you only stick with one theme. Those t

[2022-09-07 08:29] synapse commented on #146
Do you see a file named `search.db` in your workspace folder? @cobbinaloic

[2022-09-07 08:32] cobbinaloic commented on #146
Sorry eventually I formatted the whole PC. The problem is gone. I don't
know what was really causing it.

On Wed, Sep 7, 2022 at 8:29 AM Synapse ***@***.***> wrote:

[2022-09-07 08:33] #146 closed

[2022-09-13 18:15] mbrock321 opened #152 "Search doesn't work with letter 'x'"
**Describe the bug**
Searches involving the letter 'x' do not return expected results

**To Reproduce**
Steps to reproduce the behavior:
1. Create a task with a title containing an 'x', ie. "sax searchme"
2. initiate a search with cmd-K and type in "sax"
3. the newly created task does not appear in the search list
4. type "searchme" in the search bar
5. the newly created task appears as "sa search

[2022-09-13 18:30] mbrock321 opened #153 "arrow keys cause window to scroll in annoying way"
**Describe the bug**
If you have a project with too many stacks to fit horizontally within the application window, then using the arrow keys to move between tasks and stacks causes the stacks to scroll to the left.  This is annoying behaviour since the user may want to keep stacks visible on the left of the stack that is active.

Also, if any stack is long enough that it doesn't fit vertically on

[2022-09-20 00:33] MichaelinTX opened #154 "I'm not receiving activation emails to any of three Office365 emails I've attempted to use for an account."
**Describe the bug**
I'm not receiving activation emails to any of three Office365 emails I've attempted to use for an account.

**To Reproduce**
Use any Office365 email account to reproduce the error.  I've used three:

michael@heal*****.com
michael@hap*****.guru
michael.****@fo****.com

I used a gmail address and immediately received an activation email.

**Expected behavior**
I should have rece

[2022-10-03 08:24] lucafadigati opened #155 "Gantt View"
**Is your feature request related to a problem? Please describe.**
When there are a lot of task which duration is higher then one day, the Calendar View becomes complicated to read because a lot of line spread through the calendar.

**Describe the solution you'd like**
In this case a Gantt Style View will be easier to read, pratically it is like a Calendar View with the days aligned in one row.

*

[2022-10-05 09:55] PixelJackD opened #156 "Multiple Column Stacks"
I am switching over from Trello, and I like to have a few stacks of to-do lists, and a done list so I can see what all's been accomplished. It would be super neat if I could set the Done stack to, instead of just being one column or having the new experimental scroll bar, overflow into new columns under the same stack after it reaches the bottom of the screen.

[2022-10-05 19:01] joroson commented on #115
I would also love this to be available. I have a couple of tools that I am not able to change and I would like to use stacks but integrate to other things (JIRA, Salesforce, Clickup, etc.) when needed, to keep up on other work via an API

[2022-10-06 14:08] PGABORPP opened #157 "Sever works with Postman but not with Stacks Client"
I have installed the stacks task manager server on our Centos server. When testing it with the included Postman files it works fine. Though when I want to add e.g. a project to the cloud workspace with the stacks client, I get the "Error while updating the current document Document not found" error message.

Checking the difference between the Postman and the Stacks client calls e.g. when adding a

[2022-10-10 16:47] videogeeksquad opened #158 "Drag And Drop Picture Feature"
** We have to go to a file to upload Picture for Card**
When working inside of stacks we have to go to the file to upload a photo to the card. I would love to see this be a drag and drop feature just like in Trello. It would help to improve workflow since it is a huge hassel to have to attach everything each time when its so much easier to drag and drop the photos onto the cards inside of the stac

[2022-10-13 11:44] synapse commented on #158
Hey @videogeeksquad are you referring to the task attachments or task card?

[2022-10-17 19:31] bduplanty opened #159 "Status doesn't show in table view"
**Describe the bug**
In the table view, the status does not display.

**To Reproduce**
Steps to reproduce the behavior:
1. Set a status on a card
2. Go to table view with status column active
3. See no status

**Expected behavior**
System should display status similar to how it displays tags

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete t

[2022-10-18 20:57] loikawhaticando opened #160 "Search Not Returning Valid Results"
**Describe the bug**
I have multiple tasks containing the three-letter string "XOM". Searching for "XOM" returns 0 results when in fact it should return multiple. "XOM" is located in the middle of the title strings for multiple tasks. Rebuilding the search cache doesn't help. The files are saved/synched via Google Drive but I'm only editing them on one machine. Searches for other capitalized three

[2022-10-22 16:19] mbrock321 commented on #160
This appears to be a duplicate report of issue #152 -- Search doesn't work with the letter 'x':

    https://github.com/stacks-task-manager/stacks/issues/152

[2022-10-24 11:49] synapse commented on #148
I would say this would be a good addition into the custom fields section

[2022-10-25 15:20] synapse commented on #160
This should be fixed in [v.1.9.13](https://stacks.rocks/updates/)

[2022-10-25 15:20] #160 closed

[2022-10-25 15:20] synapse commented on #152
This should be fixed in [v.1.9.13](https://stacks.rocks/updates/)

[2022-10-25 15:20] #152 closed

[2022-10-25 15:20] synapse commented on #159
This should be fixed in [v.1.9.13](https://stacks.rocks/updates/)

[2022-10-25 15:20] #159 closed

[2022-10-27 10:13] PGABORPP commented on #157
Is there an estimated timeframe for answering it? Can I help anything to solve this issue? Do you need additional information?

Thank you.

[2022-10-27 12:10] #157 closed

[2022-10-27 16:20] ikrz opened #161 "Version 92 does not start, reverted back to 91"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Clikc on Stacks icon
2. nothing happens

**Expected behavior**
Stacks starts

**Screenshots**
no screenshot.

**Desktop (please complete the following information):**
 - OS: Ubuntu 22.04.1 LTS
 - Browser: firefox                    106.0.2-1                   2015   latest

[2022-10-28 09:26] synapse commented on #161
hey @ikrz where did you installed the latest version? Our website or snapcraft?

[2022-10-28 10:53] synapse commented on #161
@ikrz just tried out the latest version os Stacks (v1.9.13) on a freshly installed Ubuntu 22 and it works flawlessly

[2022-10-28 11:18] ikrz commented on #161
I guess there must be a difference, if it is update or fresh install.

[2022-10-28 11:18] ikrz commented on #161
I will try to reinstall

[2022-10-28 11:28] ikrz commented on #161
Enabled back version 92, same problem.
Remove stacks. Installed again, same problem.
Removed again, tried to install release 91, not possible.
sudo snap install stacks-task-manager --revision 91
error: cannot install "stacks-task-manager": Access by specifying a revision is not allowed for
       this Snap.

[2022-10-28 11:29] ikrz commented on #161
Have you tried with existing workspace or fresh?
When stacks 91 starts, shows like there is no workspace, ignores existing workspace.

[2022-10-28 13:11] ikrz commented on #161
Snap does not allow to load revision 91. I am stuck with 92. The revision 92 thinks that  ~/snap/stacks-task-manager/92/ is my home, so does not see my local workspace in my home. I had to add it manually. So I can access workspace, but all stacks settings are lost, probably because uses wrong home.

[2022-11-01 08:10] synapse commented on #161
@ikrz found the problem, seams to be missing the `app-update.yml` file which is required to compare with the new version online for the auto-update process.
Although haven't found any issues when opening it. Also installed the very last version both from Github and Snapstore.

[2022-11-07 10:54] sergeevabc commented on #102
Windows 7, Stacks 1.9.13

![image](https://user-images.githubusercontent.com/373718/200293295-c94d032e-3fb8-4223-b948-e010792abf3f.png)

[2022-11-10 22:55] videogeeksquad commented on #158
I guess I am reffering to the card in the Kanban view.